[2015-06-03 03:43] dossjb opened #1 "Convenient way to add a new timezone"
In the United States there are no choices for timezones.  It would be nice to be able to be able to add new time zones without going to the source code.  I did add a time zone that would have been in my area to the "timezone.xml" file but I never noticed the correct time and date showing for the images.

[2015-06-03 05:50] cedricve commented on #1
Hey dossjb,

Thank you for your report, indeed the timeszones for US are missing; we will add them. Please notice that the settings page is only for the machinery. This means that the timezone you select there will be used for the machinery only (the time condition). However to change the timezone of the webapplication, you will need to edit the app.php configuration file: https://kerberosio.zende

[2015-06-03 11:44] cedricve commented on #1
We've integrated the use of the timezone both for the machinery and web interface. We also added more timezones. This will be included in the next release 1.0.2.

[2015-06-03 11:44] #1 closed

[2015-06-06 13:29] athenawisdoms opened #2 "Live Video Stream"
Is it possible to view a live video stream from the camera?

[2015-06-29 16:38] stephenjamieson opened #3 "IP Camera"
Would be great to have support for an IP camera

[2015-06-29 19:01] #3 closed

[2015-07-02 11:25] cedricve opened #4 "Introduce new API methods to configure the machinery"
Currently a user has to use the webinterface to configure the machinery; e.g. to change the capture device. A second possibility is to edit the `.xml` files directly in the `config` directory.

To make it more convenient, a third possibility is needed. It should be possible for third-party applications to configure the machinery by using the REST API. Therefore the existing REST API needs to be ex

[2015-07-02 11:42] cedricve opened #5 "Optimize performance"
On the Raspberry Pi 2 the performance is acceptable, however on the  Raspberry Pi A, Raspberry Pi B and B+ it is not. The first time the webinterface is opened the images are cached and the timezone is fetched from the config file.

A first optimization will be implemented so that limited information from a config file is read, instead of the complete config files.

A second optimization is to opt

[2015-07-03 12:59] cedricve commented on #2
Yes if you will be using an IP camera or configure your USB or Raspberry Pi Camera as an IP Camera, and if kerberos-io/machinery#4 is implemented. Then you will be able to open a live video stream and watch the events in the kerberos web interface.

[2015-07-03 12:59] #2 closed

[2015-07-03 20:29] #5 closed

[2015-07-18 12:05] tsener commented on #3
yup, something that could read rtsp stream would be just fine

[2015-07-24 13:43] cedricve opened #6 "Timebar gradient only works in Chome"
Cross-browser CSS attributes has to be integrated for gradient. The visualization is only correct when using Chrome.

     background: #1e5799; /* Old browsers */

     background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */

     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(

[2015-07-26 20:38] JasonSwindle opened #7 "Timezone America/Los_Angeles missing"
Howdy,

The timezone America/Los_Angeles is missing from the web interface.

Thanks,
Jason

[2015-07-28 07:36] kr15h opened #8 "Sort order in the day view"
It would be great if it would be possible to order the list of captured frames in descending order as, as far as I can imagine, the latest activations are the ones people might be looking for first (also me). The time slider on the top is great, but whenever one selects time, it would be great to browse the images from the selected time towards past.

[2015-07-28 07:39] kr15h opened #9 "Adding expandable clusters of captured frames in the day view"
It is not so easy to get a string internet connection where I am and for the day view I'd prefer to load a thumbnail of an activity that could be expanded and only then all the frames of the activity would be loaded. That would save a lot of traffic and also make the UI a lot more responsive.

[2015-07-28 07:40] kr15h commented on #9
I'm thinking of the cloud interface here too. + I will look into it and propose a solution.

[2015-07-28 11:08] cedricve commented on #9
That sounds interesting, if you could add a solution for the web, I can also port it to the cloud application. Currently there is a javascript class that uses html 5 canvas, to draw the images. This needs to be replaced with a server side generated thumbnail. Probably you will need to expand the ImageController and use the PHP gd class.

[2015-08-02 17:16] #7 closed

[2015-08-04 10:05] #6 closed

[2015-08-04 11:30] GrahamCampbell opened #11 "StyleCI"
I'd appreciate it if you'd actually delete your account instead of just revoking our access token.

[2015-08-04 11:31] #11 closed

[2015-09-12 19:38] #4 closed

[2015-11-11 00:39] kgaddy opened #12 "Settings screen cannot change timezone."
It seems when you update the timezone, it just reverts back to the first item on the dropdown.

[2015-11-11 19:39] cedricve commented on #12
The current timezone is selected by jquery on pageload, it could be that it takes some time to select the correct timezone.

If not probably the js files aren't loaded properly, you should refresh the page. Can you verify this?

[2015-11-11 20:55] kgaddy commented on #12
I tried to change the timezone on the settings page. When I selected America/Chicago, then clicked "Update", it just reverted back to the first item Africa/Abidjan.
So you are saying it is set on document load for the settings page?
I will take a look when I get home from work.

[2015-11-13 00:03] kgaddy commented on #12
So it looks like the event is registered on document load. But it s needs to be set when the value is changed.

[2015-12-21 12:22] nicolas-f opened #13 "Explain cron task"
Hi,

I would like to know why Kerberos is requesting the web page http://hades.kerberos.io each 3 minutes ?

[code]

[2015-12-21 14:19] cedricve commented on #13
Hello Nicolas

This is used to keep the WIFI connection alive, as some users reported that the WIFI dongle timed out after some minutes (even if the timeout function was disabled). You can replace this with every HTTP request you like.

Regards

[2015-12-21 14:19] #13 closed

[2015-12-29 07:26] pastukhov opened #14 "composer install ask for a packagist.org account"
When i'm trying to make ```composer install``` it ask me for packagist.org authenication
[code]

[2015-12-29 07:36] #14 closed

[2016-01-03 18:23] stephanealpha opened #15 "Slider won't come up"
After installing as stated in the doc (with some minor changes due to use of Raspbian instead of Arch), everything works fine except the upper slider on the image visualization page.

Safari debugger says:
TypeError: $('#timer-slider').slider is not a function. (In '$('#timer-slider').slider', '$('#timer-slider').slider' is undefined) images.js:77

Any idea ?

[2016-01-03 20:06] cedricve opened #16 "Settings page and cloud doesn't work anymore"
Both settings page and the syncing to the cloud stop working when entering an instance name which contains spaces.

Current workaround is to use a dash (-) in the name instead of a space.

e.g.
"Camera 1" should be "Camera-1"
"This is a name" should be "This-is-a-name"

[2016-01-04 22:40] stephanealpha commented on #15
Problem solved by copying manually the file bootstrap-slider.js in js directory.

I may need to learn more about nom and bower.

[2016-01-04 22:40] #15 closed

[2016-01-05 19:17] cedricve commented on #15
Hello Stephanealpha

Indeed there was a problem at our side, it looks like a dependency have been changed.
We've update the version number.

https://github.com/kerberos-io/web/commit/c8822c3c5ac3e3d6382d734ee71caab96c8b21e3

Thanks for the notice!
Cédric

[2016-01-08 10:41] stephanealpha commented on #12
Hi,
@cedricve, I do understand what @kgaddy means.

When setting page is loaded, the timezone dropdown always shows the first selectable option.

I've changed timezone.blade.php and is works now.

@kgaddy, try edit */home/kerberos-web/app/views/timezone.blade.php* and change:
_...
option[value='{{$value}}']").attr('selected','selected');
..._
by
_...
option[value='{{$value}}']").prop('selected',tr

[2016-01-08 11:20] cedricve commented on #12
Thank you Stephen, can you send a pull request?

[2016-01-08 11:22] stephanealpha commented on #12
Hi Cedric,
As a noob on github, I don't really know what you mean :cry:

[2016-01-08 12:36] cedricve commented on #12
Issue solved #17

[2016-01-08 12:36] #12 closed

[2016-02-12 10:38] cedricve opened #18 "Setup https on nginx by default"
http://manual.seafile.com/deploy/https_with_nginx.html

[2016-02-12 10:45] cedricve commented on #9
I've been thinking about this: it will indeed be more user-friendly to only get a single thumbnail (e.g. a frame in the middle of the detection), and after clicking on the thumbnail the full sequence is shown.

Great idea!

[2016-02-12 10:46] cedricve commented on #8
New option to sort ascending or descending

[2016-02-29 13:38] cedricve opened #19 "Heatmap"
Add a heatmap to the dashboard; the heatmap will show all the hotspots where motion was detected before.

![s_20150424110743464](https://cloud.githubusercontent.com/assets/1546779/13395936/1551ce4e-def2-11e5-948e-ef2525e57fa5.jpg)

[Heatmap.js](https://github.com/pa7/heatmap.js/) will be used.

[2016-03-02 13:33] cedricve commented on #19
pushed to develop c0e20419ece7c5d99b2043e7a4c3c01250ac218c

![screen shot 2016-03-02 at 14 28 07](https://cloud.githubusercontent.com/assets/1546779/13461736/ae980f22-e083-11e5-9e81-c11e6a38a771.png)

[2016-03-02 13:33] #19 closed

[2016-03-15 13:34] cedricve opened #20 "Add a system page"
The system page will show system information.

- System hardware details  (same approach as Raspcontrol)
- Showing interesting logging.
- Add actions (e.g. remove all images from capture directory)

[2016-03-15 13:48] cedricve opened #21 "Center images overview"
When viewing a specific day, images are not centered.

![center](https://cloud.githubusercontent.com/assets/1546779/13779779/0171e194-eabd-11e5-9261-0322bc60df5a.PNG)

[2016-03-15 23:45] dmpvost opened #22 "Try to install kerberos.io"
Hi !

I'm trying to use your system for test it!
I'm trying to install it on Debian 8. Maybe it's not possible?
I have different problem:

-For install the machinery:

[code]

_________________________________________________________________

And an other one is with the web:
when I use composer install:

`Your requirements could not be resolved to an installable set of packages.`

But I don't kno

[2016-03-16 07:00] cedricve opened #23 "Add update strategy"
A similar update process should be implemented like [motioneyeos](https://github.com/ccrisan/motioneyeos/blob/master/package/motioneye/update.py).

More info: https://github.com/kerberos-io/kios/commit/cc75df3b6bb2436af51a1b22290909066f7dd290#commitcomment-16710363

[2016-03-19 20:39] cedricve commented on #20
![screen shot 2016-03-19 at 21 38 20](https://cloud.githubusercontent.com/assets/1546779/13901162/fd42b420-ee1a-11e5-89f7-383bbdd7cb07.png)

[2016-03-19 20:39] #20 closed

[2016-03-19 20:40] cedricve opened #24 "Toggle ON/OFF system"
Simple toggle button that allow a user to disable/enable the machinery.

[2016-03-19 20:40] cedricve commented on #24
![screen shot 2016-03-19 at 21 40 44](https://cloud.githubusercontent.com/assets/1546779/13901172/42363322-ee1b-11e5-93a1-abd197be22b1.png)

[2016-03-19 20:40] #24 closed

[2016-03-25 21:23] cedricve commented on #23
It's now possible to upgrade kerberos.io version from the webinterface. Special thanks go to @ccrisan which helped me a lot in the upgrading process.

![screen shot 2016-03-25 at 22 21 38](https://cloud.githubusercontent.com/assets/1546779/14054263/278fd142-f2d8-11e5-8ac1-ac19fb985e9e.png)

[2016-03-25 21:23] #23 closed

[2016-03-25 21:31] cedricve commented on #16
Fix has been added to develop branch.

[2016-03-25 21:31] #16 closed

[2016-03-25 21:31] cedricve commented on #20
updated layout + added upgrade functionality #23

![screen shot 2016-03-25 at 22 30 19](https://cloud.githubusercontent.com/assets/1546779/14054412/55239372-f2d9-11e5-809e-cacca9dff0e9.png)

[2016-03-27 18:35] muten84 opened #25 "Error on start page of last 2.0.0 kerberos-web"
Hi i'm trying to use latest develop branch of kerberos-web. I can see start page but all regions are in loading for ever. I think it breaks due to an error on an HTTP GET Request on "stream" path.
In my case it breaks on "http://192.168.1.172:8888/stream?topic=undefined&width=532&height=266&quality=100" request.
I can observe two strange things:
 - the port 8888 is not correct because i connect to

[2016-03-30 19:38] cedricve commented on #25
Hello thank you for testing the develop branch.

The reason why all regions are loading is prolly because no images are available in the /etc/opt/kerberosio/capture directory (empty cache). This issue will normally not break the other parts.

The port :8888 is for the livestreaming, when installed the develop branch of the machinery, an livestream will be available on port 8888 (http://192.168.1.1

[2016-03-31 16:36] muten84 commented on #25
Hi thanks for response all I can say is that Machinery was running (imho) correctly compiled by myself from develop branch. I will try enabling logging, stay tuned.

[2016-04-02 12:47] muten84 commented on #25
You was right i didn't clone the develop branch for correct machinery compilation. I compiled it again and started it from new binaries. I can see logging verbosity correctly and setted my ipcam MJPG url stream. Unfortunately machinery crashs when try to receive stream and throws this error:

02/04/2016 14:39:38.200 INFO  [trivial] Logging is set to verbose
02/04/2016 14:39:38.200 INFO  [trivial]

[2016-04-02 17:35] cedricve commented on #25
Can you show me the output of `ffmpeg -v`.

[2016-04-02 18:46] muten84 commented on #25
pi@raspberrypi:~ $ ffmpeg -version
ffmpeg version git-2015-12-04-325b593 Copyright (c) 2000-2015 the FFmpeg developers
built with gcc 4.9.2 (Raspbian 4.9.2-10)
configuration: --enable-gpl --enable-nonfree --enable-libgsm --enable-libmp3lame --enable-libtheora --enable-libvorbis --enable-libx264 --enable-libxvid --enable-zlib --enable-postproc --enable-swscale --enable-pthreads --enable-libdc1394 -

[2016-04-02 18:47] cedricve commented on #25
looks good, I've just tested the MJPEG connection and it works well but crashes (i'll check this). Did you tried out RTSP?

[2016-04-02 18:52] muten84 commented on #25
Ok i can try, but I have RTP over HTTP conection, it's the same?

[2016-04-02 19:32] cedricve commented on #25
You can try it but RTP is different than RTSP, I don't think it will work. It's strange the you don't had the error with the master branch. Did you update FFMPEG? I've just pushed some extra checks to the develop branch, which solves the problem on my machine. However the error you get is totally different. The ffmpeg version i'm using:

ffmpeg version n2.8.6 Copyright (c) 2000-2016 the FFmpeg dev

[2016-04-03 10:44] muten84 commented on #25
Nevermind RTSP. I pulled your code and i realized that my IPCAM it can manage one single connection. If you make more than one connection at the same time the streams result as a set of corrupted images. So i changed something in the configuration using a proxy server that serves as MJPEG server on port 8081. The server makes 1 connection to my ipcam. Using the URL 127.0.0.1:8081 on kerberos works

[2016-04-04 10:07] cedricve commented on #25
Thanks for testing, I'll take a deeper look and let you know where it goes wrong.

[2016-04-05 11:19] cedricve commented on #22
You wil need to install **curl** on your build machine.

[2016-04-05 11:19] #22 closed

[2016-04-07 07:00] cedricve commented on #25
Hey, can you pull latest develop and recompile. I've added a fix for the segmentation fault. Please let me know if this works for you..

[2016-04-07 08:53] muten84 commented on #25
Recompiling.... :)

[2016-04-07 09:30] cedricve commented on #23
![screen shot 2016-04-07 at 11 29 33](https://cloud.githubusercontent.com/assets/1546779/14346799/1f38ff9c-fcb4-11e5-844f-802fffc0afc0.png)

[2016-04-07 13:58] muten84 commented on #25
Great!! It works :)!!

[2016-04-07 13:59] cedricve commented on #25
Cool :) Does the live-streaming works either? If this solved the problem please close the issues.

[2016-04-07 14:02] muten84 commented on #25
I didn't close issue yet because i can't check images and streaming now. I check it only for segmentation fault from log on stdout, (runned with my smartphone in ssh :) ). Stay tuned i will update as soon as possible, Thanks.

[2016-04-11 15:15] cedricve commented on #25
Any update on this ticket ?

[2016-04-13 06:32] muten84 commented on #25
It works all, have only some corrupted stream on image visualization,it happens sometimes but I have to check if is a problem of my IpCamera.

[2016-04-13 06:32] #25 closed

[2016-04-19 17:34] mikaelhadler opened #28 "Translate full interface for pt-br support"
Hello,
I wonder if there is the possibility of translating the entire interface of the 'app/views', prontifico me translate all fields to en, but I want to know, I modify the static files or can develop a module for further translation in other countries?

[2016-04-19 18:46] cedricve commented on #28
Hello mikael,

Yes, please check  your zendesk ticket. To update the language for all the views you need to translate the language files. For portugese you will find them at app/lang/pt.

Please update it at the develop branch.

[2016-04-24 22:51] Orabig opened #29 "Improve behaviour when /capture is empty"
For now, the dashboard looks as if nothing is working when /capture is empty.
I thing a more explicit message would be a good idea to help new-comers to understand that the configuration is ok, even without any image (or just tell "the .../capture folder is empty or not found")

[2016-04-25 05:33] cedricve commented on #29
Yes, that's correct. The loading should stop.

[2016-04-27 12:09] Orabig opened #30 "truncated hostname for live view"
When the base URL is 'home.myserver.com', the live view hostname is incorrectly computed, and gives 'ome.myserver.com'

[2016-04-27 12:09] Orabig commented on #30
I've identified the guilty line of code. A fix is coming soon.

[2016-04-27 12:15] Orabig opened #31 "no feedback when the live view is not working"
If the live view is not working for some reason (incorrect configuration, 8888 port not opened...), the progress is never ending, so the user is not sure if the network is just slow, and is given no clue about what is not working.
I would suggest a placeholder saying "HOST:8888 is unreachable" which :
1- Informs the user that something is not working
2- Informs the user that he should make sure th

[2016-04-27 12:19] Orabig opened #32 "no feedback when the machinery is not running"
Whenever the machinery (kerberosio process) is down, the 'system' page in the web says it's running, which could be misleading.

The 'system' page should give correct informations about the process (if it's running).

[2016-04-27 12:20] Orabig opened #33 "The logs are not visible thru the web interface"
It would be great to have access to the machinery logs, as a checkbox 'logging' is shown in 'configuration' part, but the user can't see the effects, except with a ssh connection to the raspberry.

[2016-04-27 12:22] Orabig opened #34 "no feedback when the configuration can't be changed"
If the machinery config folder is read-only, then the 'update' on configuration page silently fails.
A message should warn the user that something is wrong.

[2016-04-27 12:27] Orabig opened #35 "Settings and System are not available is case of config problem"
In several case, the web dashboard can be avaiable, while clicking on 'settings' or 'system' has no effect at all.

The cases when this is happening should be enumerated, but I've noticed that it seems to happen :
 - when the config folder defined in `app.php` is missing or incorrect
 - when the capture folder is empty (to be confirmed)

[2016-04-27 12:30] Orabig opened #36 "Site is down when capture folder is incorrect"
After login, the dashboard is unavailable -> infinite HTTP 302 redirection

This has been noticed with disk=>path parameter was incorrect (tried to move /etc/opt/kerberosio/capture and added a symlink)

[2016-04-27 12:35] cedricve commented on #31
Good point, as we're working with canvas on the dashboard, we can draw it directly.

[2016-04-27 12:36] Orabig opened #37 "parameter disk->path in app.php can't be changed at all"
This parameter is defined like this :

[code]

but this can't be changed at all.
-> The final '/' is mandatory, because the image filenames are directly concatenated to it.
-> The leading '/' is mandatory too, for the same reason
-> This path is relative to `<WEB-ROOT>/public` so it's impossible to set it as '/var/capture' (for instance)

[2016-04-27 12:37] Orabig commented on #37
I would love to tell that this path is absolute iif it's starting with '/', but unfortunately, this would break the current configuration of the users (as it has been defined as /capture/ by default).

What do you think ?

[2016-04-27 12:40] Orabig opened #38 "parameter config in app.php can't be changed at all"
config = /etc/opt/kerberosio/config by default

It's pointless to change this parameter, as there is no way AFAIK to change this path in the machinery.
Am I wrong ?

[2016-04-27 12:41] cedricve commented on #32
What do you mean with process is running, currently there is only the mention about the version. Maybe we'll need to add an extra section with running services (ps -aux or htop).

For the system page we use [the Linfo library](https://github.com/jrgp/linfo), when running on Linux we can use the `getProcessStats` or `getServices`. You can find a [complete list of methods here](https://gist.github.c

[2016-04-27 12:43] Orabig commented on #9
+1 for me about the last comment
This would be much more user frienly (and will use much less bandwidth)

[2016-04-27 12:44] cedricve commented on #33
To view the logs from the system page, a user can use the button **Download system files**. What you propose is to make an inline display, just like Travis-CI does?

![logtravis](https://cloud.githubusercontent.com/assets/1546779/14852431/83e7fb32-0c86-11e6-9900-89cfd552288b.PNG)

[2016-04-27 12:44] cedricve commented on #34
Ok for me, good point!

[2016-04-27 12:49] Orabig commented on #32
Yes, adding some `ps -aux | greo kerberosio | grep -v kerberosio` would be the solution, I think.

Untrue : The `System` page is telling :

[code]

[2016-04-27 12:49] cedricve commented on #37
The path can't be absolute, because it needs to be relative to the location of the webserver. When e.g. Nginx is configured to look at the PHP project at /var/www/web. Then you're fixed to that directory, otherwise the images can't be rendered in the browser.

To solve that particular problem, I came up with the symbol link thing. What we'll need to do is add an extra check in to source, to confir

[2016-04-27 12:53] cedricve commented on #32
Hmm that's a good one, didn't expect that someone would interpret it like that; but yes I confirm your reasoning. My purpose with this message was that I only wanted to note that Kerberos.io comes with two services.

I confirm that it's confusing and that we should fix this.

[2016-04-27 12:53] Orabig commented on #33
Yes, it would be awsome for debbuging :)

[2016-04-27 12:55] cedricve commented on #38
When doing `make install` it will move the configuration files to that directory on the filesystem. However it can be possible that a user doesn't want to install the project so only `make` the project.
My conclusion: It wouldn't be a good idea to hardcode this..

What do you think?

[2016-04-27 12:56] cedricve commented on #33
I'll take this one on me if you're ok with that?

[2016-04-27 12:58] Orabig commented on #37
Yes, you're right. It can't be anywhere else than under /public/
I will do some testing about symlinks. I think I had issues with it yesterday, but I pretty sure I can make it work that way.

Anyway, the final / should definitively not be mandatory

[2016-04-27 12:59] Orabig commented on #33
sure

[2016-04-27 13:00] Orabig commented on #38
Good point. I close this one.
(In fact, the title was not well chosen. My main point here was that I wondered how to change the machinery config path)

[2016-04-27 13:00] #38 closed

[2016-04-27 13:07] cedricve commented on #37
Yes, we'll need to change some code in the Filesystemhandler. Pretty easy-one to be honest: https://github.com/kerberos-io/web/blob/master/app/repositories/filesystem/DiskFileSystem.php#L19.

We should add the "/" if it's not there in the disk path.

[2016-04-27 13:09] cedricve commented on #30
:+1:

[2016-04-27 13:14] cedricve commented on #9
I'll work on this one.

[2016-04-27 13:39] cedricve opened #39 "Redesign settings page"
A more intuitive and fool-proof settings is required e.g.
- Only numbers are allowed in the camera resolution.
- Rectangle expositor should work like hull expositor but ofc with a rectangle.
- Layout should be better; maybe you have some ideas about this @Orabig?
- For IP-camera's we should focus on an ONVIF library to detect all cameras within the network.

[2016-04-27 22:55] Orabig opened #40 "The charts are not showing after midnight"
Just after midnight - and until a first move has been detected for the day - the capture folder does not contain any image with the current date.
In this case, the charts in the dashboard do not show, and the following error is shown in the log :

[code]

[2016-04-28 05:45] #30 closed

[2016-04-28 06:27] #40 closed

[2016-04-28 06:28] #36 closed

[2016-04-28 06:28] #37 closed

[2016-04-29 16:03] marcusklaas opened #42 "Dashboard javascript error in Firefox"
`Error: Script error for "heatmap", needed by: app/controllers/dashboard_heatmap
http://requirejs.org/docs/errors.html#scripterror`

Doesn't seem to happen in Chrome..

[2016-04-30 13:13] Orabig opened #43 "Move the graphs of the dashboard to a "statistics" panel"
Those graphs could be replaced by the latest "events" detected

[2016-04-30 13:17] Orabig opened #44 "Add an "email sender" triggered by detection"
Add "sendMail" in the list of IO objects

[2016-05-06 13:29] cedricve opened #45 "Using photoswipe instead of fancybox"
First approach to redesign the image overview.

![desk-kerb](https://cloud.githubusercontent.com/assets/1546779/15113871/2f6d6806-15f7-11e6-9a6b-553d748f74b0.PNG)

![mobile-kerb](https://cloud.githubusercontent.com/assets/1546779/15113868/29a57b48-15f7-11e6-8dbc-5567f6da5757.PNG)

The overview shows the first and last image of the sequence. At the top the time interval is shown, and at the bottom

[2016-05-09 12:54] cedricve commented on #21
Followup #45

[2016-05-09 12:54] #21 closed

[2016-05-09 12:55] cedricve commented on #9
Followup #45

[2016-05-09 12:55] #9 closed

[2016-05-09 12:57] cedricve commented on #42
Thanks for reporting @marcusklaas I'll check this

[2016-05-09 12:58] cedricve commented on #8
I'll add this in next release.

[2016-05-09 13:07] cedricve commented on #43
Any ideas what should come in place? We still have the live stream, heatmap and latest sequence.

[2016-05-10 13:24] #45 closed

[2016-05-11 11:02] cedricve commented on #31
Fixed in 56a687d596acdc507e02512ff389542b2a412518

![screen shot 2016-05-11 at 12 32 36](https://cloud.githubusercontent.com/assets/1546779/15178841/6d1b3188-1778-11e6-8db9-091d9b2d6b5f.png)

[2016-05-11 11:02] #31 closed

[2016-05-11 12:32] cedricve commented on #29
![screen shot 2016-05-11 at 14 28 19](https://cloud.githubusercontent.com/assets/1546779/15181017/28d1ecee-1785-11e6-9627-6b60ac0efa31.png)

[2016-05-11 12:32] #29 closed

[2016-05-11 12:48] cedricve commented on #42
@marcusklaas  do you have an adblocker installed?

[2016-05-11 13:27] marcusklaas commented on #42
Yes

[2016-05-11 13:57] cedricve commented on #42
please remove heatmap.js from the adblocker, we wil have this fixed in next release.

56a687d596acdc507e02512ff389542b2a412518

[2016-05-11 13:57] #42 closed

[2016-05-11 14:00] cedricve commented on #35
Error views are created, application is interupted if some ocnfiguration is missing.

![screen shot 2016-05-11 at 15 24 25](https://cloud.githubusercontent.com/assets/1546779/15183472/767ca900-1791-11e6-9177-5d13506aad27.png)
![screen shot 2016-05-11 at 15 25 15](https://cloud.githubusercontent.com/assets/1546779/15183474/7a21289c-1791-11e6-9773-75cbfff5142a.png)
![screen shot 2016-05-11 at 15 54

[2016-05-11 14:00] #35 closed

[2016-05-11 17:59] cedricve commented on #33
![screen shot 2016-05-11 at 19 57 22](https://cloud.githubusercontent.com/assets/1546779/15190982/ded7f52e-17b2-11e6-967a-0e1089089436.png)
![screen shot 2016-05-11 at 19 57 28](https://cloud.githubusercontent.com/assets/1546779/15190985/e01c3968-17b2-11e6-9e9f-3815b2fdd078.png)

[2016-05-11 17:59] #33 closed

[2016-05-12 04:46] Orabig commented on #35
Totally cool. This is perfect :)

[2016-05-12 07:53] cedricve commented on #32
![screen shot 2016-05-12 at 09 51 12](https://cloud.githubusercontent.com/assets/1546779/15207566/5af7e5dc-1827-11e6-9059-1612b208d51a.png)
![screen shot 2016-05-12 at 09 51 30](https://cloud.githubusercontent.com/assets/1546779/15207567/5b141892-1827-11e6-94bb-424268b604a6.png)

[2016-05-12 07:53] #32 closed

[2016-05-12 08:30] cedricve commented on #34
![screen shot 2016-05-12 at 10 29 05](https://cloud.githubusercontent.com/assets/1546779/15208553/8b57597e-182c-11e6-87be-1fbda7d9fd93.png)

[2016-05-12 08:30] #34 closed

[2016-05-12 08:34] #44 closed

[2016-05-12 09:33] cedricve opened #46 "Add shutdown and reboot buttons on system page"
There have been some requests of our users which require a shutdown and reboot button.

[2016-05-12 10:56] cedricve commented on #46
![screen shot 2016-05-12 at 12 56 04](https://cloud.githubusercontent.com/assets/1546779/15212449/f6e38910-1840-11e6-9c0f-3f64b43bca79.png)
![screen shot 2016-05-12 at 11 49 18](https://cloud.githubusercontent.com/assets/1546779/15212451/f812472c-1840-11e6-9773-08f0c455637a.png)

[2016-05-12 10:56] #46 closed

[2016-05-17 21:26] cdun opened #47 "Nginx / PHP-FPM configs aren't supervisor friendly"
Hi Folks,

I'm opening this on the web repo rather than docker because the issue is itself related to the Dockerfile contained here.

I installed Kerberos via Docker today for a quick evaluation and immediately got a whole chunk of logging from supervisord moaning that both nginx and PHP-FPM were being restarted constantly. Looking a little deeper, the Dockerfile installs both direct from APT, the

[2016-05-18 05:56] cedricve commented on #47
Hey cdun

Thank you for your extensive comment. We hadn't the time for looking in the deamon problem, so thanks for checking the dockerfile and proposing a solution, kudos for you.

You can send a pull request to the develop branch.

Thank you for all your time cdun.

Cédric

[2016-05-18 05:56] #47 closed

[2016-06-01 06:13] martinl opened #49 "Too many url redirects error on logon without internet connection"
steps to reproduce:
- connect rpi to wifi router without internet connection (tested with both wired and wifi)
- boot kerberos.io
- try to login to webinterface with root/root

result: browser reports too many url redirects error and fails to logon

I can ssh to rpi and motion detection works / images are saved - only web interface is affected

If I connect rpi / kerberos to wifi network with inte

[2016-06-01 20:10] cedricve commented on #49
Thanks for the report @martinl I'll check it out..

[2016-06-03 09:37] muten84 opened #50 "Photoswipe working only in mobile version"
Hi when i noticed you switched to the photoswipe library i did a check out of the master branch.When connecting from mobile, the image swipe works well, while if i try to list images trough desktop view i can see only the old version of the app, with strange listing of images. Is that a normal behavior?

Thanks in advance for all

Luigi

[2016-06-03 09:42] muten84 commented on #50
Solved. It seems it was a caching problem. Clean browser cache after kerberos-web update and it works from desktop too. Hope this could be helpful to other users :-)

[2016-06-03 09:42] #50 closed

[2016-06-07 17:38] muten84 commented on #43
I think that could be useful to split last events,live stream and heatmap sections  in separate widgets and enable users to store each widget position on the dashboard (left up corner, right up, etc)

Another way could be to leave the same widget behavior and to enable users to set a default widget view (live stream or last sequence or heatmap) in conjunction with multiple instance of same widget.

[2016-06-07 17:42] cedricve commented on #43
Hmm good point, we should think about how and where to store that information. Knowing that the webinterface only depends on the xml config files and the capture directory.

[2016-06-09 22:11] muten84 commented on #43
A Json file?

[2016-06-11 18:59] cedricve commented on #43
good idea, that will work. We can store it in the public folder and make it read-write.

[2016-06-12 19:53] cedricve commented on #28
still open.. @mikaelhadler

[2016-06-21 16:25] mikaelhadler commented on #28
Okay, sorry for the delay.

[2016-07-19 19:44] noxx2015 opened #54 "Possible to add a (black) mask?"
hello

nice tool :-)

in germany its not allowed to film public areas.
is it possible to add a mask, so that a custom area
has a black mask?

[2016-07-26 13:14] cedricve commented on #49
982aaa7e3779cff29f1e5c79673b6d0f2a06a5e1

[2016-07-26 13:14] #49 closed

[2016-08-19 19:14] cedricve opened #55 "List USB-devices in GUI"
It should be possible to have a drop down to select an USB camera. This can be helpful if one or more USB devices are attached.

`v4l2-ctl --list-devices`

[2016-08-20 19:55] cedricve opened #56 "Live view only works in Chrome."
In Internet Explorer and Firefox (and maybe other browsers), the live view doesn't work properly. This needs to be investigated.

[2016-10-10 18:38] cedricve opened #57 "Settings page redirects to dashboard"
This is an issue which was resolved some months ago; adding spaces breaks the system. We've just found out that when entering a / in the instance name we have the same behaviour.

[2016-10-10 20:04] TopperHarry opened #58 "Set a limit in GUI on the number of stored images"
such that the SD card on i.e. Raspberry pi does not get full.

[2016-10-10 20:06] cedricve commented on #58
@TopperHarry I think you're using Raspbian? On KiOS we have a script running that starts removing old images, when disk is getting full. You can find it over here.

https://github.com/kerberos-io/kios/blob/master/board/common/overlay/etc/init.d/S85machinery#L29-L33

[2016-10-15 20:36] #58 closed

[2016-10-17 12:48] ytzelf opened #59 "change base url"
Hello,

What would be the process to change the base url to /kerberos.

I'm having difficulties to deploy kerberos-io behind a nginx reverse proxy ie
https://xxxxx.yyyyy.zz/kerberos/ redirects to http://localhost:545/kerberos

Thanks!

[2016-10-17 12:50] cedricve commented on #59
I would suppose that you just put it under a directory called /kerberos and point the root of your domain to a directory lower.

[2016-10-17 12:55] ytzelf commented on #59
that would work assuming that the web interface doesnt use anything above public/ and that there s no absolute path in the files.

Will try and report back

[2016-10-17 13:17] ytzelf commented on #59
OK I got it working on the local machine i can reach the login page.
Had to change the includes in index.php
require __DIR__.'/../kerberos_src/web/bootstrap/autoload.php';
$app = require_once __DIR__.'/../kerberos_src/web/bootstrap/start.php';

As well as the capture folder in app.php
However I can't seem to redirect with nginx; here's the relevant configuration
[code]

As well as the kerberos ser

[2016-10-17 13:30] cedricve commented on #59
Hmm that's true, never tried it before tbh. Looks like you're on the right way. I'll take a look when I'm home. Let me know if you found the issue.

[2016-10-17 13:34] ytzelf commented on #59
I understand it's not the priority as kerberos is meant to run stand alone but I already have a server and would like to run multiple instance of kerberos on it.
I'm guessing the url in app.php has sth to do with this as well. Will keep a close eye on this thread as this is pretty much required for my use case.

I'll keep trying when I get home I can't do more than text based browsing now...

Than

[2016-11-04 16:46] jpbell commented on #56
I just wanted to say it seems to work for me on Firefox (49.02), and Chrome, however it does not work on Edge, not sure about IE.

[2016-11-04 16:46] cedricve commented on #56
Thanks for the update @jpbell, I'll check what goes wrong.

[2016-11-10 07:42] #56 closed

[2016-12-01 12:37] ivanionut opened #60 "PHP7"
Hi Cédric,
one question: it also works with php7?

Thank you,
Ivan

[2016-12-08 15:03] cedricve commented on #60
Hi @ivanionut

I can't promise. I will give it a try and see how many things are broken.

Cédric

[2016-12-29 21:00] HanYangZhao opened #61 "Red square not showing in 2.1.0"
Are there any specific settings I need to put to get the red square around the subject like in the demo? All I'm currently seeing are the before and after images.

Thanks

[2016-12-29 21:16] cedricve commented on #61
No there is no way in the web interface. Though the coordinates of the square are stored in the image name.

[2016-12-29 21:16] #61 closed

[2017-01-03 16:02] cedricve opened #63 "Possibility to edit password through web interface"
![screen shot 2017-01-03 at 16 59 42](https://cloud.githubusercontent.com/assets/1546779/21613581/1e9ae8dc-d1d6-11e6-9cac-2f1306bfa058.png)

[2017-01-03 16:05] cedricve opened #64 "New interface for settings page - basic and advanced mode."
It will be easier to configure the machinery. At this moment the settings page is too abstract for our users. #39

![screen shot 2017-01-05 at 08 25 07](https://cloud.githubusercontent.com/assets/1546779/21672130/897c0c58-d320-11e6-94d2-2ed03dab623b.png)

When e.g. the USB camera button is selected, a modal box will be openend.

![screen shot 2017-01-06 at 16 37 52](https://cloud.githubusercontent

[2017-01-03 16:06] cedricve commented on #60
Some things don't work in PHP7, this will be fixed in next release.

[2017-01-03 16:08] cedricve commented on #59
Hey @ytzelf  do you have any update on this ticket?

[2017-01-03 16:09] #28 closed

[2017-01-03 16:13] cedricve commented on #8
Will not be implemented

[2017-01-03 16:13] #8 closed

[2017-01-03 16:17] cedricve opened #65 "Support for the MQTT protocol"
Create a new Io device

[2017-01-06 07:10] cedricve opened #67 "Possibility to store images directly on a USB stick / NAS"
It should be possible to store images directly on an USB stick or NAS. For the moment a user needs to do some manual configuration on the filesystem, this could be automated by the web interface.

[2017-01-06 20:59] cedricve opened #68 "Settings page is broken when trying to show a bad image in the hull selection"
Example error

    [2017-01-06 21:21:16] production.ERROR: exception 'Intervention\Image\Exception\NotReadableException' with message 'Unable to init from given url (http://localhost:32778//capture//1483734064_5-95654_frontdoor_regionCoordinates_numberOfChanges_587.jpg).' in /var/www/web/vendor/intervention/image/src/Intervention/Image/AbstractDecoder.php:68
    Stack trace:
    #0 /var/www/web/ve

[2017-01-07 21:16] cedricve commented on #68
Fixed by 3386ad6e149c8c7e917e5e6486be4b1a964972cd

[2017-01-07 21:16] #68 closed

[2017-01-08 15:33] cedricve opened #69 "Change language from web interface"

[2017-01-08 15:35] #39 closed

[2017-01-08 15:37] #59 closed

[2017-01-08 15:42] cedricve opened #70 "Convert to AngularJS 2 and Laravel 5.3 REST API"
Currently the web repository is written in Laravel 4.2 and BackboneJS. For performance reason we will move a lot more functionality to client side.

[2017-01-12 11:43] cedricve commented on #64
Setup motion surveillance in a couple of steps:

![screen shot 2017-01-12 at 12 42 17](https://cloud.githubusercontent.com/assets/1546779/21888459/aa039546-d8c4-11e6-855e-b0d88ecaabb2.png)

[2017-01-15 09:16] mcgyver83 opened #71 "No Activity shown in dashboard - Issue with IP camera Onvif RTSP endpoint"
I'm using an Ip cam streaming using rtsp (http://192.168.0.101:554/onvif1 works fine with vlc),a raspberry pi2, web 2.1.0 and machinery 2.1.0.
In the Activity box I see "No stream, is the machinery running?" and in the chrome developer network tab I see two calls:
- http://192.168.0.11:1880/ (executed, is the web interface);
- http://192.168.0.11:1234/ (ERR_CONNECTION_REFUSED)

the second one seem

[2017-01-15 09:20] cedricve commented on #71
Can you confirm an initial frame is saved, can you see some images in the calendar overview? If not than there is something wrong while connecting to your ip camera.

If you want to show a live streaming in he web interface you will need to enable the stream.

[2017-01-15 09:43] mcgyver83 commented on #71
Nothing in the calendar view.
Attached the log of "sudo systemctl start kerberosio.service" and a couple of screenshot.
In the log there is the right rtsp url that works fine with vlc :(

`15/01/2017 10:39:56.837 INFO  [trivial] Logging is written to: /etc/opt/kerberosio/logs/log.stash
15/01/2017 10:39:56.838 INFO  [trivial] Parameters passed from commandline:
15/01/2017 10:39:56.839 INFO  [trivia

[2017-01-15 17:46] cedricve commented on #71
Looks like the machinery wasn't able to connect to the IP camera (rtsp://192.168.0.101:554/onvif1).
Did you try any other RTSP endpoints?

[2017-01-15 21:34] mcgyver83 commented on #71
I don't know if there are others endpoints. I tried with vlc and this works fine ;(

[2017-01-16 07:04] cedricve commented on #71
Can you give more details of your IP camera?

[2017-01-16 07:51] mcgyver83 commented on #71
Sure!
It is a Sricam SP005 [http://www.sricam.com/product/id/35eb6c5942fe406fb5eb422ca4cd1cdb.html](url)

[2017-01-16 17:05] cedricve commented on #71
Can you try: rtsp://192.168.0.101:554/onvif2.
Please reboot the Raspberry Pi after changing the configuration.

[2017-01-16 22:59] mcgyver83 commented on #71
I tried on vlc and "rtsp://192.168.0.101:554/onvif2" isn't working.
I tried it in stream.xml file but no luck, again "No stream, is the machinery running?"

`16/01/2017 23:55:22.283 INFO  [trivial] Logging is written to: /etc/opt/kerberosio/logs/log.stash
16/01/2017 23:55:22.291 INFO  [trivial] Parameters passed from commandline:
16/01/2017 23:55:22.291 INFO  [trivial] Reading configuration file:

[2017-01-18 12:48] cedricve opened #72 "Create a welcome page"
With a fresh installation, a user will be guided to a welcome page. Here they will be asked to select a language, and username and password.

[2017-01-18 13:43] samvloeberghs commented on #70
@cedricve #itsJustAngular

[2017-01-18 13:44] cedricve commented on #70
I need a coding wizard like your for this issue ;)

[2017-01-21 20:35] cedricve commented on #72
Installation wizard has been added.

![screen shot 2017-01-21 at 20 24 38](https://cloud.githubusercontent.com/assets/1546779/22177603/7411e096-e021-11e6-998e-a38347414862.png)

![screen shot 2017-01-21 at 20 24 27](https://cloud.githubusercontent.com/assets/1546779/22177604/7681c2ec-e021-11e6-9b3b-9465f9eb90db.png)

[2017-01-21 20:36] cedricve commented on #43
Will be transferred to our cloud application, where it will make more sense..

[2017-01-21 20:36] #43 closed

[2017-01-21 20:37] cedricve commented on #18
Should be implemented by the user.

[2017-01-21 20:37] #18 closed

[2017-01-26 08:47] amsurana opened #73 "Connecting Web with Machinery"
Hi,

I am trying to get Kerberos.io working on Docker.

The instructions are pretty much clear and I have both Web & Machinery running.

I am able to log in to the Web. However, the Web always shows "No activity, is the Machinery running?

Couple of queries:
1. How do I know Web is able to connect to machinery?
2. I have given a Public IP Cam URL - http://webcam.st-malo.com/axis-cgi/mjpg/video.cgi

[2017-01-26 08:49] cedricve commented on #73
Can you send me the system logs (you download them from the system page)?

[2017-01-26 08:55] amsurana commented on #73
Pardon me, Where can I get the System logs?
For web or machinery ?
[log.txt](https://github.com/kerberos-io/web/files/731870/log.txt)

[2017-01-26 08:59] cedricve commented on #73
Hmm, which tutorial did you follow to setup Kerberos.io for docker?

[2017-01-26 09:04] amsurana commented on #73
I followed this page: https://doc.kerberos.io/2.0/installation/Docker
Then added IP camera using this link - https://doc.kerberos.io/2.0/machinery/captures/IP-camera

I did not find information where exactly the capture.xml should be added and how will Web & Machinery talk to each other to share the IP camera URL.
This is still a mystery to me.

[2017-01-26 09:17] cedricve commented on #73
Hey I've justed it myself but you should use this url:  **http://webcam.st-malo.com/axis-cgi/mjpg/video.cgi?**

![screen shot 2017-01-26 at 10 14 16](https://cloud.githubusercontent.com/assets/1546779/22325823/4f585586-e3b0-11e6-9c5e-1a7b4933ae5d.png)

Strange thing with your installation is that it claims not to find the config.xml file, this means that it is not linked correctly. Can you try to

[2017-01-26 09:47] amsurana commented on #73
Thanks a ton!
I now see that the Web & Machinery are connected and the feed is coming well.

1. 443/tcp, 0.0.0.0:32792->80/tcp   camerafrontdoor_web_1
2. 0.0.0.0:32791->8889/tcp          camerafrontdoor_machinery_1
3. 443/tcp, 0.0.0.0:32790->80/tcp   kios_web_1
4. 0.0.0.0:32789->8889/tcp        kios_machinery_1

I am still wondering why `kios_machinery_1` is not connected.
As of now, I think both

[2017-01-26 10:38] cedricve opened #74 "Translate for next release 2.2.0"
## Hey there we need your help!

For the next release 2.2.0 we have added a lot more new features like: video recording, script execution, easier configuration (with extensive feedback) and a welcome page.

We are looking for contributors who want to extend our language files, so that we can reach more users in the international open source community.

## This is how you can contribute

We have ad

[2017-02-02 08:47] #54 closed

[2017-02-02 08:54] #73 closed

[2017-02-04 18:53] MartinStolle opened #77 "Setup ISO Raspberry Pi Camera"
More options to setup the camera would increase the usability. Increasing the ISO value of the camera would improve the images in poor lighting conditions.

[2017-02-07 13:07] cedricve opened #78 "Async requests causes session corruption on Raspbian"
The issue is covered here to https://github.com/laravel/framework/pull/6848.

[2017-02-07 13:08] cedricve commented on #78
issue has been resolved by creating a new service provider: https://github.com/cedricve/lockfile

[2017-02-07 13:08] #78 closed

[2017-02-13 08:14] #72 closed

[2017-02-13 08:14] #69 closed

[2017-02-13 08:14] #64 closed

[2017-02-13 08:15] #60 closed

[2017-02-13 08:15] #57 closed

[2017-02-13 08:15] #63 closed

[2017-02-13 08:15] cedricve commented on #71
Hey @mcgyver83 can you try again with version 2.2.0?

[2017-02-22 06:44] HanYangZhao opened #79 "Blank welcome page when upgrading from 2.1.0"
I upgrade the web interface by deleting everything under /var/www/ and then download the new version and extract the tar file. Not sure what's going on. Machinery upgrade seems to work
![web](https://cloud.githubusercontent.com/assets/4143538/23200087/6704d89e-f8a0-11e6-907b-cb52e8755817.jpg)

[2017-02-22 06:55] cedricve commented on #79
hey @HanYangZhao please clear your cache, this is describe in the **upgrade procedure**.
https://doc.kerberos.io/2.0/installation/upgrade

[2017-02-22 06:55] #79 closed

[2017-03-02 16:05] mikaelhadler commented on #70
@cedricve You need to Angular JS 2, why not Angular 1.x ? 👍

[2017-03-04 09:30] cedricve commented on #70
@muten84 yeah that would be great! We're also considering to create it with React and React Native. But obviously it's just a perference, Angular2 would be great a choice as well.  Key concern is that it should be lightweight, no-database approach (rely completely on the filesystem and file), and have a simple and highly flexible API (Laravel is the definetely the way to go). From my opinion we sh

[2017-03-04 12:10] muten84 commented on #70
@cedricve   Ok for Laravel, by the way GWT is not a substitute for Lavarel it's just a Java2JS compiler with JRE emulation API. Angular is lightweight framework and is intended to simplify the development of components and modules in more structured way, altough it's not targeted to enterprise applcation models. You can think about kerberos-web with major complexity and with more scalability needs

[2017-03-22 19:37] SoullessWaffle commented on #70
FWIW, Laravel [has selected](https://twitter.com/laracasts/status/758396261225623552) [Vue.js](https://vuejs.org/v2/guide/) as its front-end framework of choice.
You can find detailed comparisons with Angular 1.x, 2.x and React [here](https://vuejs.org/v2/guide/comparison.html).

[2017-03-22 19:39] cedricve commented on #70
Thanks for sharing @SoullessWaffle we'll take a look!

[2017-03-22 20:20] samvloeberghs commented on #70
@SoullessWaffle Laravel has NO direct link with vue.js architecture wise. Hence, I don't see how any frontend framework can be associated as a framework of choice for any other backend framework. Laravel providing a out of the box solution for vue does not mean you should use vue!

[2017-04-17 18:13] bbbenji opened #82 "100% cpu usage an never ending webpage load"
This happens on a freshly made SD card using late KIOS. I have reflash several times and different SD cards. Rebooting temporarily fixed it and leaves the web page accessible. Soon after issues occur.

PHP error log:

`2017/04/17 18:10:43 [error] 881#0: *5 FastCGI sent in stderr: "PHP message: PHP Fatal error:  Maximum execution time of 30 seconds exceeded in /var/www/web/app/repositories/imagehan

[2017-04-26 11:37] cedricve commented on #82
Behaviour is random, we've figured out over teamviewer. Problem resolved itself after x seconds, might be related to a networking issue.

[2017-04-26 11:37] #82 closed

[2017-04-26 11:44] cedricve commented on #71
Discussion proceed in machinery repository.
RTSP bug: Issue with IP camera Onvif RTSP endpoint kerberos-io/machinery#84

[2017-04-26 11:44] #71 closed

[2017-05-05 09:43] bottiger opened #83 "No data available everywhere."
I have installed kerberos-io and it's working great. However, I do have some issues with the web part.

Whats working:

- The web interface works and i can click around.
- I can watch the live stream
- I can read and write settings to the kerberos-io config files.
- I can read the state of various system  parameters in the system page.

What is not working

- All the graphs in the dashboard say "n

[2017-05-24 19:43] boschj commented on #74
https://www.dropbox.com/s/qm8a8h2whxfyzaz/Kerberos_2_2_0_in_catalan.zip?dl=0

this was my humble contribution to translating kerberos 2.2.0 to catalan language.
Jordi Bosch
Catalonia

[2017-06-01 03:18] znorris opened #84 "[Bug] heatmap radius"
This is a minor bug.

Steps to reproduce:
1. Move the heatmap radius slider to a new position.
2. Click Update
3. See that the slider has returned to the position it was at previous to our action in step 1.
4. See that  the heatmap as changed back to its original radius.
5. Refresh the page.
6. See that the radius slider and the heatmap are using the radius that was set by our actions in step 1.

[2017-06-21 07:01] Baby38 commented on #57
Just installed Kerberos io and all is fine except that Bug : Settings page redirects to dashboard ! Interested in how solve that issue ? Thx

[2017-06-21 08:58] cedricve commented on #57
Can you send me your /var/www/web/storage/logs/laravel.log file?

[2017-06-21 13:25] Baby38 commented on #57
Hello

Here is the laravel.log file

Thx a lot to help me

Jean Gaillat

0683023050

 <http://jeangaillat.wordpress.com/> Voir mon Blog ICI

De : Cédric Verstraeten [mailto:notifications@github.com]
Envoyé : mercredi 21 juin 2017 10:59
À : kerberos-io/web
Cc : Baby38; Comment
Objet : Re: [kerberos-io/web] Settings page redirects to dashboard (#57)

Can you send me your /var/www/web/storage/logs/la

[2017-06-30 09:24] sirkro opened #85 "Motion sensitivity"
I got an Hikvision DS-2CD2042WD-I

I decreased the sensitivity in "web" but I still get motion on:
Insects, birds, rain and reflections on a parked car window.

Running web and machinery on docker.

Is this a bug with web not setting settings as it should, or is the sensitivity on kerberos to sensitiv?

[2017-07-04 12:41] cedricve commented on #84
Will be fixed in next release, issue is due to caching.

[2017-07-04 12:44] cedricve commented on #83
@bottiger sorry for the late response, well it looks like you didn't changed the symbol link of the web interface. By default the web interface will look for images/videos in `/etc/opt/kerberosio/capture`. Next to updating the configuration files of the machinery, you'll also need to update the filesystem path or symbol link to point to your external drive.

[2017-07-04 12:51] cedricve commented on #85
Hey Sirkro,

Hmm well ignoring insects and or light reflections is a hard one. Although you shouldn't place a camera behind a window.

What you can do is minimize the region of interest by selecting a hull, and decrease the sensitivity a bit.

Cédric

[2017-07-04 12:51] #85 closed

[2017-07-04 12:54] sirkro commented on #85
The sensitivity is all the way down, and it triggers on insects, hedgehogs, birds, and reflection on car windows. Camera is not behind a window.

[2017-07-04 14:19] cedricve commented on #85
Ok, Kerberos.io will always take snapshots if some significant portion of the viewport changed. With the basic view you can control one property (the intensity change).

What you can do to get more control is activate the advanced settings, and open the algorithm property.

![screen shot 2017-07-04 at 16 16 35](https://user-images.githubusercontent.com/1546779/27833704-3281f768-60d4-11e7-8b2e-4733

[2017-07-15 15:32] cedricve commented on #84
fixed in version 2.3.0, KiOS 2.4.0

[2017-07-15 15:32] #84 closed

[2017-07-16 05:45] danricho opened #86 "Adjust Detection envelope on Touch devices"
Using an iPhone, it is not possible to adjust the detection envelope.

[2017-07-16 11:01] cedricve commented on #86
thanks for reporting @danricho

[2017-07-19 17:22] vgoncearencu commented on #55
In case an USB camera is selected another good command is "v4l2-ctl --list-formats-ext"
that outputs the list of possible width & height dimensions that usb camera can handle. This info can be used in the web interface to set the desired width & height for the camera.

`$ v4l2-ctl  --list-devices
USB Camera (041e:401f) (usb-0000:00:13.1-1):
	/dev/video0

$ v4l2-ctl --list-formats-ext
ioctl: VIDIOC

[2017-07-28 07:23] JanSimek opened #87 "Web interface doesn't detect machinery"
I followed the Generic installation path and installed latest Kerberos.io from git. When I go to Web -> Systém panel, it says that machinery is not running but according to ```systemctl status kerberosio```, it is running (I assume kerberosio = machinery). Also, ip camera view on the dashboard is stuck at "Almost there, hold on"

[code]

[2017-07-29 15:44] cedricve commented on #87
Though your configuration looks ok, which browser are you using to open the stream. It might be that the machinery 'online' check fails. Which OS are you using?

[2017-07-29 17:50] cedricve opened #88 "Show warning when system is disabled."
Some people have been thinking Kerberos.io wasn't working anymore because they've disabled the machinery without noticing. A warning should be shown, to inform the users about this.

[2017-07-30 16:38] JanSimek commented on #87
Kerberos runs on Arch linux. I tried with Edge on Windows 10 and Google Chrome on Android and it does work on Android, so it must be an issue with the browser. Thanks.

[2017-07-30 17:03] cedricve commented on #87
@JanSimek well that's what I'm trying to explain. The check happens in the web, and apparently that's not working on your arch linux install. https://github.com/kerberos-io/web/blob/master/app/Http/Repositories/System/OSSystem.php#L183-L198

[2017-07-31 06:32] JanSimek commented on #87
@cedricve just wondering, wouldn't it be better to use ```systemctl is-active kerberosio```. That should work the same on Raspberry Pi (Raspbian), shouldn't it?

[2017-07-31 06:34] cedricve commented on #87
@JanSimek thanks for the share, hmm yeah I think so. Let me check.

[2017-08-02 14:19] Responseless opened #89 "Configuration reset in web"
Can you please add a button in the web to reset configuration to default Machinery settings.

[2017-08-03 06:46] cedricve commented on #89
thanks @Responseless can you add to our feature list? http://feathub.com/kerberos-io/machinery

[2017-08-03 12:51] #88 closed

[2017-08-03 12:51] cedricve commented on #88
resolved in v2.3.1

[2017-08-03 13:23] Responseless commented on #89
Sure!

[2017-08-03 13:23] #89 closed

[2017-08-07 15:53] njwedwards opened #90 "Web gui under Activity just says 'Almost there, hold on..""
Even after running on the Pi for a few hours. What is this and how do i debug?

Thanks!

Nick

[2017-08-07 15:54] cedricve commented on #90
Probably the camera you've connected isn't working properly (check the logs).

[2017-08-07 15:56] cedricve commented on #87
I'll add a fix so it gives better cross-platform support. Thanks for noticing @JanSimek, will be in next release.

[2017-08-07 15:57] #70 closed

[2017-08-07 17:20] njwedwards commented on #90
Seems to be working fine. I have checked logs/log.stash and can't see any errors, where else can I look?

The captures are working fine, but I can't get the live stream.

Thanks!

[2017-08-07 18:08] vgoncearencu opened #91 "Feature - Mark an event as favorite"
Hello,
it would be great if there were a possibility to mark in the WebUI an event let's say as "favorite" (pinned, etc). And have a page were all favorite events from different dates are shown.

It will solve the following problem:
- Usually you have to watch every day, the triggered motion alarms/events. In case you find an event quite interesting, you usually you just remember the day/time when

[2017-08-07 19:45] njwedwards commented on #90
Ok I have nearly got it. The only thing stopping this now is the fact that the url is https and not http which would all it to work. How can this be changed. Also can I specify the url itself?

[2017-08-07 19:47] cedricve commented on #90
the url of the stream? can you show a screenshot of the request made?

[2017-08-07 19:52] njwedwards commented on #90
Yes that is correct http://user:pass@192.168.4.20:8899 works fine locally. However when using the web gui i am using https://domain.name and when the web gui runs it tries to access https://domain.name:8899 which does not work. I need it to be http not https

[2017-08-07 19:53] cedricve commented on #90
did you enable https, in the .env file?

[2017-08-07 20:08] njwedwards commented on #90
I just did that now. It has not made any difference.

APP_URL=http://localhost (changed to https also)
SECURE_SSL=true

Again all works fine it is just the stream is on http.

[2017-08-07 20:09] cedricve commented on #90
did you expose port 8889 as well?

[2017-08-07 20:51] njwedwards commented on #90
Port 8899 is exposed on my router. However it does not seem to work correctly. I am getting quite a few of these in the logs:

Aug  7 21:48:58 pi kerberosio[517]: 07/08/2017 21:48:35.538 ERROR [trivial] Stream: no token found in client request.
Aug  7 21:48:58 pi kerberosio[517]: 07/08/2017 21:48:35.539 INFO  [trivial] Stream: authentication failed.

[2017-08-07 20:54] njwedwards commented on #90
Everytime I try to go to http://domain.name:8899 it then changes me over to https

[2017-08-07 21:12] cedricve commented on #90
hmm, that's something to your webserver related.

[2017-08-07 21:25] njwedwards commented on #90
I don't think this is related to nginx as the listening service is kerberosio:

root@pi:~# netstat -antlp | grep 8899
tcp        0      0 0.0.0.0:8899            0.0.0.0:*               LISTEN      517/kerberosio

[2017-08-08 08:24] njwedwards commented on #90
Ok the issue with it going from http to https by default was caused by the Chrome browser using HSTS for the domain. <https://www.chromium.org/hsts> .

The main issue remains. My install is using https. Kerberos web is asking for the stream from https://domain.name:8899. The kerberosio process listening on this port then says that it cannot support an https stream.

"This site can’t provide a secu

[2017-08-08 08:58] cedricve commented on #90
hey @njwedwards, hmm ok. I have no time to dig in but I think you can add a simple hack by doing this (assuming http:// does work for the live stream).

Change this line to "http"

https://github.com/kerberos-io/web/blob/master/app/Http/Controllers/SettingsController.php#L288

[2017-08-08 09:58] njwedwards commented on #90
It works now! Thanks very much!

Also for reference and not related to kerberos web, I had to disable HSTS in nginx as it kept still kept trying to push me to https.

#add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
add_header  Strict-Transport-Security "max-age=0;";

[2017-08-08 10:29] cedricve commented on #90
Ok, well I think it's still strange that the https call isn't redirected properly to the machinery. We'll need to find out how we can configure it through nginx, I guess we need to define a reverse proxy.

[2017-08-08 11:27] njwedwards commented on #90
The https call is not redirected because the call from the api:

https://domain.name/api/v1/stream

Is to:

{"url":"https:\/\/domain.name:8899","port":"8899"}

Using an nginx reverse proxy may be the best idea here to ensure that browsers do not throw up warnings that not all content is https.

[2017-08-08 11:30] cedricve commented on #90
Correct, I think you should fetch the port 8889 in the nginx config, and proxy pass it to the same domain but with http (https://serverfault.com/questions/145383/proxy-https-requests-to-a-http-backend-with-nginx).

We did something similar in the docker configuration. Check this out: https://github.com/kerberos-io/web/blob/master/docker/web.conf#L23-L27

[2017-08-08 11:38] njwedwards commented on #90
ok, I think I get that, but how do I get the web app to call https://domain.name/stream ? I have not seen how to add a url path, only how to change the port?

[2017-08-08 11:48] cedricve commented on #90
This is just an example, if you want to use a reverse proxy you will need to setup an additional nginx service, which you'll need to place between your domain name and local nginx config (kind of man in the middle attack). The reverse proxy will fetch the requests and pass them through to your local nginx server. By this you can easily intercept requests on port 8889 and forward them to whichever

[2017-08-09 23:51] bkmeneguello opened #92 "Create a fullscreen live view"
When the user clicks (somewhere) over the live view, this image should occupy the entire window, keeping the stream live, for use on dedicated monitor.

[2017-08-10 15:10] cedricve commented on #92
nice idea can you add it to our feature list?  http://feathub.com/kerberos-io/machinery

[2017-08-10 15:47] bkmeneguello commented on #92
Done. Thanks.

Em 10 de ago de 2017 12:10, "Cédric Verstraeten" <notifications@github.com>
escreveu:

[2017-08-13 13:16] #90 closed

[2017-08-13 13:18] #83 closed

[2017-08-13 13:19] cedricve commented on #77
hey @MartinStolle, you now (from v2.4.1) have the possibility to tweak some camera specific values.
https://github.com/kerberos-io/machinery/blob/master/config/capture.xml#L26-L29

[2017-08-13 13:19] #77 closed

[2017-08-15 15:58] anujdeshpande opened #94 "PHP using brew/apt-get"
The instructions for getting PHP up and running seem to be a little out of date.

Does anyone know if they work with PHP-7.1 after adding a new cask for brew? A lot of the packages that are required as per the present instructions are missing in `homebrew/homebrew-php`

Using instructions found [here](https://gist.github.com/pixeline/51c43c787f51b018d484597f30be3d2b)

Also, ran into issues when tr

[2017-08-15 18:25] cedricve commented on #94
hey @anujdeshpande, there is an issue with some of the packages we're using in the web (https://github.com/jrgp/linfo/issues/53). Therefore we're unable to fix this atm. Would an upgrade to 7.1 fix this?

[2017-09-29 06:44] cedricve commented on #65
Follow up at https://github.com/kerberos-io/machinery/issues/89

[2017-09-29 06:44] #65 closed

[2017-10-02 15:07] Stubbs opened #99 "Unable to get latest sequence with basic auth."
I'd like to be able to display the latest sequence inside my home automation control panel, I've already got the live stream, but I'd like to be able to see the last event too.

I can't use basic auth headers when making an API call, I just get the login page.

[2017-10-04 04:51] cpetra opened #100 "Configuration reverted at a previous time"
Sometimes when enabling/disabling the interface the configuration is reverted at a previous one. I am using google chrome as browser. For example, if I have selected 1280x720 IP Camera at a previous moment in time and then used a different camera configuration (680x385), which works correctly from that moment onwards, when using the enable/disable button in the web page the camera is again set up

[2017-10-04 08:34] cedricve commented on #100
@cpetra can you send us more information about your system/installation? Which OS and system (microcontroller / docker / server).

[2017-10-04 08:35] cedricve commented on #99
Correct, we'll adjust this REST endpoint so that it can be retrieved by using Basic Auth. Keep you posted @Stubbs.

[2017-10-04 12:04] cpetra commented on #100
Hi Cedric,

I have an Orange Pi Zero running armbian:
Linux orangepizero 3.4.113-sun8i #18 SMP PREEMPT Thu Jun 15 02:16:06 CEST 2017 armv7l armv7l armv7l GNU/Linux

The web is cloned from git, while machinery I don't remember exactly but I think it was also cloned from git and built locally (had a hard time matching versions).

I don'k know how much it matters - the system is in a remote location,

[2017-10-11 19:49] loki-sft opened #101 "System Page not working on Intel NUC with Debian Stretch"
Hey,

at my system-page only the News-section is working.
System and Kerberos.io are showing an endless rotating circle.
My system:
Intel NUC DN2820FYKH
Celeron N2830
Architecture:          x86_64
CPU op-mode(s):        32-bit, 64-bit
Byte Order:            Little Endian
CPU(s):                2
On-line CPU(s) list:   0,1
Thread(s) per core:    1
Core(s) per socket:    2
Socket(s):             1
N

[2017-10-12 07:13] Tviljan commented on #56
Why is this closed? Live view does not work on MS Edge

[2017-10-12 09:36] cedricve commented on #56
Having other priorities for now, we will not fix this as probably future MS browsers will start supporting it.
Use Chrome or Firefox instead.

[2017-10-14 07:26] samvdb commented on #87
@cedricve, I also want to note that this method of detecting the machinery is not compatible with any kind of docker orchestration tools like rancher.
For this to work i believe the machinery service needs to have its own api running on top to be accessible from, or maybe merge it into 1 docker container :)

[2017-10-17 14:10] shivpatel opened #102 "Stream can be accessed without authentication"
Using the latest Dockerized version.

In Google Chrome I am able to view the live camera stream via (/stream) without logging in via the homepage. Looks like this route is not protected by authentication?

[2017-10-17 14:26] cedricve commented on #102
by default it's not protected, however you should enable it by using the settings page.

[2017-10-17 14:45] shivpatel commented on #102
Ah a separate HTTP Basic Auth is available under Advanced Settings -> Stream -> Down Arrow.

Doesn't seem like the best authentication/security implementation but it'll do for now. I'll try to put in a PR if I find a way to protect the stream route using the existing login.

[2017-10-17 14:45] #102 closed

[2017-10-17 14:50] cedricve commented on #102
Thanks would be a great PR, let me know if I can help @shivpatel

[2017-10-18 08:57] Stubbs commented on #91
Marking something as a favorite should also prevent it from being automatically deleted if you have that option switched on in the config.

[2017-10-18 13:20] vgoncearencu commented on #91
Good point @Stubbs

[2017-10-18 15:54] GrossoMoreira commented on #59
I was able to set up an apache proxy to run kerberos-io on a docker container and access it through https.
Apparently the URLs in kerberos-io's HTML are absolute and explicit HTTP, so I had to configure apache to preserve the host name and to replace all occurrences of http with https.

For anyone interested, here's my virtual host config:

`<IfDefine SSL>`
`<IfDefine !NOSSL>`
`<VirtualHost MY_DOM

[2017-11-04 10:00] abate opened #103 "delete images (counter does not reset)"
I'm using the docker image. I've noticed that when you click on the "delete images" button, the counter just above is not reset. Also, All videos are still present in the dashboard. Maybe you could also add a button "delete videos" to remove all videos and reset the statistics. This could also be done regularly, like "remove all images and videos older then xxx days"

[2017-11-16 10:03] #99 closed

[2017-11-16 23:12] shacal commented on #87
I run this in rancher, so no issue in docker orchestration.

`version: '2'
volumes:
  kerberosio-service-conf-files:
    external: true
    driver: rancher-nfs
  kerberosio-machinery-conf-files:
    external: true
    driver: rancher-nfs
  kerberosio-machinery-capture-files:
    external: true
    driver: rancher-nfs
  kerberosio-machinery-capture-h264-files:
    external: true
    driver: rancher

[2017-11-17 06:31] cedricve commented on #87
Amazing, thanks for sharing @shacal! we should include this in the documentation. Would you be interesting to share a tutorial with us?

[2017-11-17 19:10] clessley opened #104 "Autoremove old images/video within Docker Containers?"
#58 related, also [Generic ](https://doc.kerberos.io/2.0/installation/Generic#auto-removal) documentation.

I do not see the autoremoval.sh script within the Docker container file structure indicated with the two references above. Should I just create the script in the /home location within the Docker container using Docker bash?

Theoretical setup:
Headless Ubuntu Server 500 GB running Docker + P

[2017-11-18 08:03] cedricve commented on #104
hey @clessley, there is a autoremoval function running on booting the machinery containers:
 https://github.com/kerberos-io/machinery/blob/master/docker/run.sh.

[2017-12-01 00:33] clessley commented on #104
Thanks, I see it. Perfect.

[2017-12-01 07:50] #104 closed

[2017-12-13 10:55] viktorsmari opened #105 "Show which menu is active (Dashboard, System or Configuration)"
It would be nice to see which menu item the current page belongs to.

Which page am I on now?
![2017-12-13_452x107](https://user-images.githubusercontent.com/1689020/33935484-5efc33f6-dffc-11e7-980a-64b0af1f3508.png)

[2017-12-14 11:38] viktorsmari opened #106 "Feature propsal: Change color of update button, when something has changed"
Reproduce:
1. Edit Basic camera settings, for example resolution or frame rate.
2. Click 'Confirm and select'
This gives you the idea that you have actually saved the settings.
3. The truth is you still have to click 'Update'

Proposal:
Make the Update button change color if settings have changed and it needs to be clicked.

[2017-12-14 12:43] viktorsmari opened #107 "UI proposal: Make settings dropdown more clickable"
![2017-12-14_790x88](https://user-images.githubusercontent.com/1689020/33992859-7ed5e608-e0d4-11e7-9cff-39d209b7b745.png)

**Problem:**
To open up this dropdown and edit its settings, you have to click the small red circle.

**Solution:**
Can we make the whole gray box clickable?
Or make the small red circle much bigger?

[2017-12-14 14:00] viktorsmari opened #108 "Add presets dropdown in /settings"
It would be nice to be able to load some sort of presets from a dropdown in the settings.

Something like:
* Defaults (Factory reset)
* Motion detection
* People counter
* etc

Which would inject the best starting values

[2018-01-02 16:35] dannyzumwalt commented on #12
Having this issue on new install - v2.5 on RPi B.

---
New install on RPi B. The camera configuration web interface will not let me change timezone from default "Europe/Brussels +02:00". I am trying to set it to America/Denver -06:00 and have also tried other cities, but after clicking Update, the timezone always resets to Brussels. All my timestamps show the wrong timezone because of this. Tried

[2018-01-02 16:36] dannyzumwalt opened #109 "KiOS IP Cam Config Timezone Resets to Default"
Same issue as #12

New install on RPi B. The camera configuration web interface will not let me change timezone from default "Europe/Brussels +02:00". I am trying to set it to America/Denver -06:00 and have also tried other cities, but after clicking Update, the timezone always resets to Brussels. All my timestamps show the wrong timezone because of this. Tried rebooting. I see this issue was brou

[2018-01-18 18:33] squiggie opened #110 "Config Error on Login"
Brand new install of docker images from latest.

I installed kerberos/web:latest & kerberos/machinery:latest.

Machinery is exposing ports on the bridge of 80 and 8889.

After figuring out I needed to change the default.conf file of nginx from
`proxy_pass http://machinery:8889;`
to
`proxy_pass http://172.17.0.3:8889;`
I'm finally able to connect to the web and nginx stays running.

Now I'm getting

[2018-01-19 08:03] cedricve commented on #109
Hey can you send me some information about the browser you're using. It might give some conflicts with Javascript.

[2018-01-19 08:04] cedricve commented on #110
hey @squiggie, thanks for reporting let me check.

**Where do I find the xml files?**

They should exist in **/etc/opt/kerberosio/config**

[2018-01-19 08:05] cedricve commented on #108
Great idea! let's add this to our roadmap.

[2018-01-19 08:05] cedricve commented on #107
makes sense!

[2018-01-19 08:06] cedricve commented on #106
makes sense!

[2018-01-19 08:06] cedricve commented on #105
indeed, lacks an active state.

[2018-01-19 08:07] cedricve commented on #103
Hmm, statistics should be reset indeed. I'll mark this as a bug. Thanks for reporting @abate

[2018-01-19 08:08] cedricve commented on #101
Sorry for the late response @loki-sft, it's been a while..
I'll mark this as a bug as this is caused in a dependency of the web repo.

Thanks for reporting @loki-sft!

[2018-01-19 13:54] dannyzumwalt commented on #109
Safari 11.0.2 on macOS Sierra 10.12.6

[2018-01-19 14:27] squiggie commented on #110
@cedricve that directory is empty within the docker web image.

[2018-02-02 12:07] cedricve commented on #110
hey @squiggie, sorry for the late response. After reviewing it looks like you didn't use docker-compose? You'll need to do this as we shared resources between containers (e.g. the config directory). That might also caused your first issue; ip address.

https://doc.kerberos.io/2.0/installation/Docker

[2018-02-02 12:11] cedricve commented on #109
@dannyzumwalt sorry for the late response, can you try Chrome or Mozilla also? I tried to reproduce but I don't get any issue while trying to update the timezone on Safari.

[2018-02-04 13:19] Siggemada opened #111 "Settings lost on Armbian"
I lost the login and settings. Root/root works and brings up the GUI but in Dutch.

Permission issue?

How can I debug this?

[2018-02-04 22:46] cedricve commented on #111
Not sure what you mean, can you providing more detailed instructions and screenshots?

[2018-02-04 22:47] cedricve opened #112 "Add a cloud connection verification"

[2018-02-08 14:02] kocis73 commented on #111
Hi Cedric
I've the same issue me too. I run an Orange Pi Zero armbian, I've installed the system from https://doc.kerberos.io/2.0/installation/Generic because I did not succeed from Armbian section, I had a warning from lib4.so (or something similar)..
Let me add somthing more. The web interface is not saving any configuration from the beginning. From the starting page I set new user/password, but

[2018-02-08 17:13] kocis73 commented on #100
Same as me.
isn't it like https://github.com/kerberos-io/web/issues/111 ?

[2018-02-08 19:13] cedricve commented on #111
hmm interesting definitely is a permission issue. can you try this:

    sudo chown www-data -R storage bootstrap/cache config/kerberos.php
    sudo chmod -R 775 storage bootstrap/cache
    sudo chmod 0600 config/kerberos.php

[2018-02-08 19:15] cedricve commented on #100
@cpetra @kocis73 indeed same issue let's continue on #111.

[2018-02-08 19:15] #100 closed

[2018-02-08 19:15] cedricve commented on #111
@kocis73 if you prefer we can open a teamviewer session, to better understand the situation.

[2018-02-08 19:18] cedricve commented on #100
@cpetra installing the machinery should be ok again for armbian using version 2.5.0.
https://github.com/kerberos-io/machinery/issues/134

[2018-02-09 11:23] kocis73 commented on #111
Many thanks for your availability Cedric.
first I'll try the new permission this evening, I'll keep you posted.

[2018-02-09 15:50] Siggemada commented on #111
Sorry but I can not consistently recreate this. Settings works fine after reboot. Still unable to change resolution of USB camera but login is ok.

[2018-02-09 22:28] kocis73 commented on #111
@cedricve I cannot modify those permissions because I have not those directories... maybe something went wrong during the installation of the web.
Actually I run Armbian, but I had to follow the Generic installation. Which are the correct dependencies to install? Ubuntu or Raspbian? Maybe I did a wrong choice... How to start from the beginning?
thanks

[2018-02-10 10:38] estechnical opened #113 "Is it possible to use HTTP basic auth for web login?"
I have an nginx proxy in front of several instances of kerberos web and machinery. I can pass on the http basic auth header using proxy_pass_header Authorization but I cannot work out how to make web allow this as a login method.

Are there docs for this or any pointers for enabling it that someone can provide, please?

Thanks :)

[2018-02-10 11:25] cedricve commented on #113
hey @estechnical,

Interesting! thanks for sharing and trying it out. So you want to have one portal which would signin to all web interfaces?

Cédric

[2018-02-10 13:22] estechnical commented on #113
Hi @cedricve, that's it. This approach is common for running applications like this in kubernetes behind an ingress controller, or just behind a proxy in general.

Another less secure option would be to totally disable the login mechanism. I also don't know how to do this with kerberos web...

I wouldn't mind either way in my current setup, which is for home use. If anything, disabling direct acce

[2018-02-11 11:22] Siggemada commented on #111
Ok, I did not change anything and now it works. Sorry, should we close this issue?

kocis73: I can walk you thru the steps I did to install.

[2018-02-11 11:40] cedricve commented on #111
hmm looks like something weird is going here. Can you try to simulate with a blank install @Siggemada. Want to be sure this is a bug or not, and ideally have a better understanding what's happening. Maybe something is missing in the Armbian section?

[2018-02-13 12:38] kocis73 commented on #111
@Siggemada it would be great! Can you help me?

[2018-02-13 12:55] Siggemada commented on #111
Yes sure. For this to be of value, I will have to reformat my SD.

I´ll follow the instructions and use the deb file we compiled.

Is there a better way to install npn? Not so keen on all the warnings about unsigned binarys.

[2018-02-15 00:50] espressobeanies opened #114 "Need a way to set SSL encryption on KiOS install"
OS: KiOS v2.6.0
Platform: Raspberry Pi 2

I'm not sure what the operating system KiOS is using, however I need a way to set an SSL certificate for the UI login. I'm not seeing any Apache or NGINX config files to modify. There is an SSL directory in /etc/.

[2018-02-17 09:11] cedricve commented on #111
hmm not sure, if you are following the generic installation? or the armbian/raspbian install?

[2018-02-17 09:14] cedricve commented on #113
Hmm can we setup a teamviewer session to clear this out? I'll better understand your configuration as well.

[2018-02-17 09:15] cedricve commented on #114
hmm,  yeah but /etc/ is not writable. I'll create a PR for this. Can you explain me in a couple of bullets, how you want to achieve setting up your SSL connection. By the way we use Nginx.

[2018-02-17 09:15] #110 closed

[2018-02-17 16:33] Siggemada commented on #111
Ok, so here are my steps:
-Installed https://www.armbian.com/banana-pi/
Armbian_5.38_Bananapi_Debian_stretch_next_4.14.14

Installed according to:
https://doc.kerberos.io/2.0/installation/Armbian

After installing machinery, I change /etc/opt/config/config.xml:
<capture file="capture.xml">USBCamera</capture>

Instructions tell us to start kerberosio but this results in:
17/02/2018 16:59:50.915 INF

[2018-02-17 16:41] Siggemada commented on #111
Now,

1. I set the username and password I want.
2. I log in.
3. I set a new resolution on my USB Camera with advanced mode.
Suddenly, My username has changed to "root".

I can not log in with the selected username.
[username.pdf](https://github.com/kerberos-io/web/files/1733845/username.pdf)

[2018-02-17 16:50] Siggemada commented on #111
After reboot, the web interface askes me to set up username again.

I do so and my changed USB cam settings remains those I set.

After clicking on the dashboard the root user is shown again.

[2018-02-17 16:55] Siggemada commented on #111
So, I think I found a consistent problem.

After I click on "Update" under Configuration, Advanced; user displays as "Root".

[2018-02-17 17:10] Siggemada commented on #111
This is the content of  /var/www/web/config/kerberos.php after setting a new username/pw at the welcome screen:

<?php return array (
  'type' => 'advanced',
  'radius' => '1',
  'installed' => false,
  'users' =>
  array (
    0 =>
    array (
      'id' => 1,
      'username' => 'root',
      'password' => 'root',
      'firstname' => 'Firstname',
      'secondname' => 'Lastname',
      'languag

[2018-02-17 17:13] Siggemada commented on #111
Ok, so if I change this with "Update profile" this file do change. And kerberosio works as expected.

[2018-02-17 20:15] cedricve commented on #111
Interesting feedback. Looks like something is going wrong, i'll try to simulate it.

[2018-02-18 11:01] Siggemada commented on #111
My conclusion is that the welcome screen doesn't modify the file. Or that something else is is changing it back.

[2018-02-18 15:14] cedricve commented on #111
Indeed we've had that issue a while ago, which browser are you using?

[2018-02-18 15:17] Siggemada commented on #111
Using chrome. I can try with firefox.

I see a difference if I add /login or if I just go to the ipaddress. The ip address keep redirecting me to the /welcome screen.

[2018-02-18 15:20] cedricve commented on #111
Jep that's normal because it checks the kerberos.php file if its already installed. Can we open a teamviewer session I would like to see what's happening in the console/network tab.

[2018-02-18 15:31] Siggemada commented on #111
I could expose it to the internet and give you the ip.

[2018-02-21 21:14] espressobeanies commented on #114
Hi Cedric,

I was thinking more of a self-signed certificate for the web interface to encrypt the connection so that login credentials aren't sent via clear-text.

[2018-03-06 11:32] estechnical commented on #113
Sure thing. I think I am in a better position to provide concise examples of what I want to achieve.

Sorry for delay in getting back to you.

[2018-03-20 00:58] aamorin commented on #111
I'm having a similar issue with Docker (OS X as host): I've created the docker-compose file, started a container with a unique project name, configured everything and let it there.. after a while, I came back to discover that the web is now on the welcome screen like if it were a new installation. After configuring the user/password, I login and my camera is already configured and working (like if

[2018-03-20 19:18] cedricve commented on #111
I've been trying to resolve this issue for a couple of times and added some extra check to the welcome screen. I have not been able to reproduce this.

@aamorin are you able to reproduce this issue ?

[2018-03-20 19:22] cedricve commented on #111
Ok nevermind, I was able to reproduce. I followed @Siggemada steps. Debugging the issue and will supply a patch.

[2018-03-20 19:35] cedricve commented on #111
Ok found the bug. If you start toggling between advanced/basic on the settings view it reverts the startup config file. Working on a patch. Thanks guys..

[2018-03-20 21:44] aamorin commented on #111
Awesome !!! .. Yes, I was about to tell you that, I came to the same conclusion, it seemed that the trigger was to toggle between advanced/basic..

[2018-03-20 21:55] cedricve opened #116 "New architecture to support multiple camera configuration and visualization."
Purpose: A lot of users have been upvoting the multi camera approach (https://feathub.com/kerberos-io/machinery/+14).

Problem: the web repo isn't scalable for very large image sets, which is more an issue when using N cameras.

Goal: We need to brainstorm how to implement a scalable web interface which supports different kind of scenarios.

1. Standalone on IoT device, where only 1 machinery is r

[2018-03-23 19:03] onshisan commented on #114
Hello all,

I'm not an expert but have seen this matter discussed on other projects. One option is as follows:

https://docs.nginx.com/nginx/admin-guide/security-controls/securing-http-traffic-upstream/

[2018-03-23 19:04] onshisan commented on #114
(PS: I really like this project, congratulations @cedricve!)

[2018-03-23 19:05] cedricve commented on #114
thanks for sharing @onshisan, we need to implement this!

[2018-03-30 02:30] davidjb opened #117 "User passwords stored in cleartext"
At present, the user's details are saved into `config/kerberos.php` and the password is saved in cleartext. Can the current implementation be improved so credentials are hashed?

 Laravel provides the `Hash` class for secure Bcrypt hashing of passwords: https://laravel.com/docs/5.6/hashing and an implementation of this is at https://github.com/davidjb/kerberos-web/commit/5d92d8581f9d48113d151baeb9

[2018-03-30 11:47] cedricve commented on #117
hey @davidjb, indeed you're completely right. I'll update the SimpleAuth library so it can support your feature. Keep you posted! Thanks.

[2018-03-30 11:50] cedricve commented on #111
hello all, I've created a fix for this. Problem will be fixed in next release.

[2018-03-30 21:24] espressobeanies commented on #114
Cedric, I did some testing on my KiOS install and found that in order for SSL in NGINX to work, the "[ngx_http_ssl_module](http://nginx.org/en/docs/http/ngx_http_ssl_module.html)" needs to be added. Otherwise it won't read the "ssl..." directives in /etc/nginx/nginx.conf

[2018-03-30 22:51] AddoSolutions commented on #116
One thing that may solve this would be to do a similar approach to Ubiquiti’s camera software, where it lists the cameras and you can view the cameras that way, and then you can also assemble views in which you can pick various grids arrangements to assign cameras to to whatever size you may like.

I can send some screenshots of what I’m talking about if it’s be of help!

[2018-03-31 05:52] cedricve commented on #114
@espressobeanies thanks for sharing! can we create a PR to integrate this in KiOS? https://github.com/kerberos-io/kios/blob/master/package/nginx/nginx-php.conf

[2018-03-31 13:38] espressobeanies commented on #117
@davidjb. FYI, the latest build of KiOS comes with 'mkpasswd'. Though I'm not too familiar with the KiOS internals, this alone should be able to generate secure password hashes. https://www.cyberciti.biz/faq/generating-random-password/

[2018-03-31 13:57] davidjb commented on #117
@espressobeanies `mkpasswd` an external command for generating randomised passwords, rather than for hashing/salting a given string within PHP (eg the password the user enters into the web interface on setting up Kerberos).  The Laravel Hash class is the way to go for this purpose.

[2018-03-31 16:19] #111 closed

[2018-03-31 17:49] cedricve commented on #111
Will be integrated in 2.6.1.

[2018-04-07 13:36] Moulde commented on #101
Fyi i had this issue and in my case (Raspbian) it was caused by the pho process running out of memory when reading the logs of the system.

[2018-04-14 13:39] FrancescoTalotta opened #118 "Wrong day in Weekday Dashboard"
Hello,

I'm running KiOS on a Raspberry Pi Zero. When I check the Dashboard and look at the Weekday chart, it shows the wrong day name. For example today is Saturday but the activity is showed as Friday.

[2018-04-23 08:39] cedricve opened #120 "Implement docker image for ARMv6 and ARMv7"
Started working on a Docker ARMv6 compatible image (RPi1 and RPi Zero - W), but getting errors when executing

    composer install

The Dockerfile can be found here, any help is welcome https://github.com/kerberos-io/web/blob/develop/docker/Dockerfile-arm

This issue is linked to https://github.com/kerberos-io/docker/issues/3

[2018-05-11 00:36] James9074 commented on #113
Hey @estechnical / @cedricve - Did you find a way around the `NotFoundHttpException` when putting Kerberos behind a proxy?

[2018-05-11 20:16] HNKNTA opened #121 "Web doesn't work with EncFS mout as a capture in docker compose"
_It looks like the capture directory is missing.
Please create the directory: /etc/opt/kerberosio/capture/._

The message above appears after I open the UI using EncFS mout in docker compose.
Docker compose file:
[code]

If I remove the capture check in _app/Http/Middleware/HasCaptureDirectory_, the UI starts as usual, it is possible to add a camera and get some video recordings done. But in the U

[2018-05-12 05:57] cedricve commented on #121
Hey,

Thanks for reporting. We have merged the two containers to only one image (but it's in BETA). Can you give it a try?  http://hub.docker.com/r/kerberos/kerberos

[2018-05-12 07:55] HNKNTA commented on #121
Hi Cédric,

Thanks for reply. I've set up merged image with mounted EncFS dir and it gives the same result.
`docker run --name kerberos_merged_1 -d -p 80:80 -v /mnt/decrypted/capture:/etc/opt/kerberosio/capture kerberos/kerberos`

Yesterday I've tried to use gcloud bucket via their gcs-fuse - FUSE module and looks like it has the same (or similar) problem. I can just guess that it is some PHP issu

[2018-05-16 14:37] Fire69 opened #122 "Apache Reverse-Proxy"
Hi,

I'd like to make my install (running on a RasPi with OSMC) availabe behind an Apache-server running on my Ubuntu-server.
I put it in my apache 000-default.conf like this:
`<Location /kerberos>
    order deny,allow
    deny from all
    allow from all
    ProxyPass http://192.168.1.13
    ProxyPassReverse http://192.168.1.13
</Location>
`
When I go to https://<domain>/kerberos, the only thing

[2018-05-19 03:50] Freakapotamus opened #123 "Heatmap not working"
I am running on a Raspberry Pi 3 on Raspbian using  Web 2.5.1 and  Machinery  2.5.1

The heatmap feature does not seem to do anything.  Is there any special configuration required to get this to work?

The rest of the system seem to be working correctly

They only change from the standard install I have made is replaced the symlink to where the images are stored.

[2018-05-23 18:20] Jerkysan commented on #116
I am not a programmer by trade but a system's engineer so take what I say with a grain of salt if you would like but it would seem what you could do is just have a piece of the web interface where you could add the ip's of multiple machinery instances. The "homepage" would be replaced by a live stream of all the machinery instances. Clicking on that live stream would take you to the page you curre

[2018-05-28 10:18] marcel31415 opened #124 "Configuration not saved"
Any changes to the configuration by web-interface are not saved.
I have had the problem before and reflashed the card. After that i was able to make changes which were saved.
With updating to 2.7.0 I encoutered the same problem: Any changes are not saved.
Changing anything by SSH/Terminal works as it should. Files are writable.

[2018-05-28 16:49] cedricve commented on #124
Can you try with a blank installation, from 2.6.1 and upgrade it again to 2.7.0. Just to be sure you're not using an old image (which might be the case).

[2018-05-28 17:16] marcel31415 commented on #124
That is exactly what i did.

[2018-05-28 17:45] cedricve commented on #124
hmm that's not good.. i'll try it myself. keep you posted.

[2018-05-28 18:07] cedricve commented on #124
just tried it myself and it looks like it is working now. however I confirm the issue was there in a previous installation. can you retry your process and confirm my statement @marcel31415 ? Any way thank you very much for your time.

[2018-05-28 18:43] marcel31415 commented on #124
Can i trace/debug  the save process?

[2018-05-28 18:44] marcel31415 commented on #124
Will get back to you.

No, thanks to you!!

[2018-05-30 19:37] marcel31415 commented on #124
Fresh Installation of 2.7 works and saves changes.
I will now flash 2.6.1 and update it to 2.7.0

[2018-06-02 07:53] marcel31415 commented on #124
I reflashed the card with 2.7.0 yesterday.
But the problem reoccurs!
Encore the machinery stops working from time to time. I will change the RaspberryPi to exclude the possibility that the Pi is the Problem.
So: No changes are saved and the machinery stops working.

Can i provide any information / data that might help you?
[kerberosio-configuration.zip](https://github.com/kerberos-io/web/files/206

[2018-06-02 09:19] cedricve commented on #124
Hey thanks, well it's hard to simulate if you do not give detailed steps. I've been testing it for a couple of times but didn't noticed any weird..

⁣Sent from BlueMail ​

On Jun 2, 2018, 9:53 AM, at 9:53 AM, Mr Pi <notifications@github.com> wrote:

[2018-06-02 13:27] cedricve commented on #124
can we have have a teamviewer session right now?

[2018-06-02 13:29] marcel31415 commented on #124
of course, how can i send you the id and pw?

[2018-06-02 13:29] cedricve commented on #124
send it to cedric@verstraeten.io

[2018-06-02 14:16] marcel31415 commented on #124
Problem solved:
If you place a file which dos not belong to the "real" configuration at _/data/machinery/config/_, any changes will not be saved!

I have just tested it (together with cedricve) and as soon as the foreign object (my script file) is removed, everything works as it should!

Thanks @ cedricve for his help, time, and patience!

[2018-06-02 14:16] #124 closed

[2018-06-03 09:04] marcel31415 opened #125 "checking health status of camera ON Raspberry Pi 3B"
I get an error message after some time of using the camera does not seem to work anymore.
There is no stream on Port 8889 (or the port you are using) nor on the dashboard.
On the dashboard I receive the message:
"No stream, is the machinery running"

The system log on the webinterface says:
"Capture: checking health status of camera."

I've had this problem yesterday and rebooted. It all worked fo

[2018-06-03 09:06] #125 closed

[2018-06-04 08:10] ChieftainY2k commented on #120
Hi Cédric, what kind of errors do you get ?

[2018-06-04 08:14] cedricve commented on #120
hey @ChieftainY2k, actually this is already resolved. We now support armv8 and armv7

https://hub.docker.com/r/kerberos/kerberos/tags/

[2018-06-04 08:14] #120 closed

[2018-06-12 21:29] mikeys4u commented on #116
Your documentation needs work... especially on docker and multiple cameras. (I am so confused)
I have 3 IP cameras with rtsp addresses like (rtsp://admin:password@79.143.207.252:554/11), I have installed docker on my raspberry pi and used
docker run --name camera1 -p 80:80 -p 8889:8889 -d kerberos/kerberos
which lets me login, but how do I show my other cameras?
I found /environments/example1/conf

[2018-06-13 07:36] cedricve commented on #116
hey @mikeys4u, can you please move this comment to a seperate issue on the right repository (https://github.com/kerberos-io/docker). This comment hasn't to do any thing with "New architecture to support multiple camera configuration and visualization".

[2018-06-18 15:45] boraygowda commented on #109
Logged in via console,
_cd /data/etc_
_ln -s -f /usr/share/zoneinfo/<area>/<timezone> localtime_

[2018-06-19 14:11] cedricve commented on #123
hey @Freakapotamus, do you have an update on the issue?

[2018-06-21 15:34] ysagal commented on #123
I'm having the same issue, except I am running the docker image. Happy to provide troubleshooting steps if you can advise.

Running most recent docker snapshot. Web 2.5.1, Machinery 2.6.1.

[2018-06-21 22:51] Freakapotamus commented on #123
I have updated to Machinery 2.6.1 but its stll not working.  When I select the option I do get a still from the last activity but  nothing else

[2018-06-22 20:52] regnerus commented on #122
I get the same issue when I use HTTPS instead of HTTP, I see in the console that the javascript and css files are not loaded, they are blocked since they are requested as HTTP.

` The page at 'https://camera1.domainname.com/login' was loaded over HTTPS, but requested an insecure stylesheet 'http://camera1.domainname.com/js/vendor/csshake/dist/csshake.css'. This request has been blocked; the conten

[2018-06-22 21:25] regnerus commented on #122
I fixed this by adding `\URL::forceScheme('https'); ` to the web routes file.

[2018-07-01 13:12] dtbaker opened #128 "Unable to perform some REST API requests"
**Describe the bug**

Hello, I can successfully request endpoints such as `/api/v1/images/latest_sequence` using the REST API and a base64 encoded Authorization header

As documented here: https://doc.kerberos.io/2.0/web/aPI

But for some reason I cannot access other endpoints such as: `/api/v1/images/days` - this one just redirects me to the login form.

Can you please point me at the code that h

[2018-07-07 09:34] gwontaeyong opened #129 "What kind of data should i have put??"
I'm trying to using api you provided .
So i'm searching about api and i found many api . but i don't know what value should i have put.

        Route::get('images/perhour/{days?}', 'ImageController@getImagesPerHour');
        Route::get('images/perday/{days?}', 'ImageController@getImagesPerDay');
        Route::get('images/perweekday/{days?}', 'ImageController@getAverageImagesPerWeekDay');

[2018-07-07 09:34] gwontaeyong commented on #129
and 'time'

[2018-07-13 13:26] alasso opened #130 "After install Login screen not shown"
**Describe the bug**
Hi, I just burned an kerberos.io image an run it. I can access trough safari browser but there is no login window, just a blank (with no menu nor input boxes)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://192.168.1.132
2. Blank screen (red, but without any component inside)

**Expected behavior**
Login screen

**Screenshots**
![2018-07-13 10 26 10](https:/

[2018-07-13 15:57] cedricve commented on #130
hey can you check the console and verify it also the case in chrome?

[2018-07-14 15:51] alasso commented on #130
Thanks!

It seams that there is a problem with the path to javascript components.
I don't know where to touch to resolve it

<img width="1232" alt="2018-07-14 12 49 00" src="https://user-images.githubusercontent.com/415620/42726048-64fdace8-8764-11e8-9884-95a900a1d0e0.png">

[2018-07-14 16:04] cedricve commented on #130
Correct, something went wrong while building the new release and we didn't get notified. Solved the issue and uploading a new image. Keep you posted.

[2018-07-14 16:05] cedricve commented on #128
Let me check

[2018-07-14 16:12] alasso commented on #130
Ok! Thanks a lot for your help.

[2018-07-14 18:29] cedricve commented on #130
should be fixed, can you please test?

[2018-07-14 21:16] alasso commented on #130
Thnks!
As I can't log in, I am unable to upgrade from web. Is there any way to do it via ssh? Should I burn again an image?

[2018-07-15 05:37] cedricve commented on #130
Yes unfortunately you'll need to reflash

[2018-07-15 14:57] alasso commented on #130
I tested and it is working fine.

Thanks a lot!

[2018-07-15 15:47] #130 closed

[2018-07-23 12:04] gwontaeyong opened #131 "Heatmap javascript have some error"
I run kerberosio in docker and i have my config_files.
to start kerberos io_docker_image in my config i'm mount that config_files into /etc/opt/kerberos/config in container
kerberos working well saving image, and show up many graphs except onething heatmap
when i click the heatmap button. the console show up the erro message like that

"Heat.js?bust=20170127:329 Uncaught DOMException: Failed to ex

[2018-07-25 05:18] siddu126 opened #132 "please tell me how to add icon in kerberos web page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-08-07 01:45] mccarthyryanc opened #133 "Pictures taken outside of defined time range"
I've set time constraints on the camera that don't include the weekend:
![image](https://user-images.githubusercontent.com/997120/43748876-a3aed1fc-99a6-11e8-99a8-992ccb464449.png)
However, I'm noticing that pictures are getting taken over the weekend. For example I had one "event" last Saturday (04-08-2018 00:00:02) and two "events" on last Sunday: 5-08-2018 21:53:27.

It was completely dark for

[2018-09-07 16:38] wicadmin opened #134 "Add option to put link in titlebar (e.g.: to camera live footage directly)"
**Is your feature request related to a problem? Please describe.**
No - just convinience

**Describe the solution you'd like**
In config, have an option to paste a URL and label. If present, it shows up here:
![image](https://user-images.githubusercontent.com/4563854/45231658-b23f4a00-b29a-11e8-9c30-428733934aba.png)

**Describe alternatives you've considered**
Bookmark to Kerberos mapping but wit

[2018-09-09 19:10] wicadmin commented on #116
Given this is the top most requested feature (also for me too), it seems to me the best option would be to have a new project/repo (simaliar to how web, machinery, documentation etc.) are segregated and have a function to add cameras. It can then tile show the stream (e.g.: http://<kerberois.io ip>:<port>/stream) and a link to go into that camera's dashboard. I would assume you'll want to navigate

[2018-09-11 03:29] wicadmin opened #135 "What is the URL to prepend to the filename?"
I have the MQTT payload with pathToVideo. What URL to I prepend to see this? I would like to send to phone and just click url.

[code]

[2018-09-11 03:31] wicadmin commented on #135
nvm.....this seems to work:

`http://<kerberos.io ip>:<port>/capture/<pathToVideo>`

[2018-09-11 03:31] #135 closed

[2018-10-11 14:09] fabiopbx commented on #116
Doesn't cloud already do something similar, why not have a cut down version of that?
A simple dash to view them all and some method of changing to a specific camera that would then allow us to change the actual settings of that kerberos instance.

[2018-10-20 15:41] antoinetielbeke opened #137 "Add option with 'retain footage for x days'"
**Is your feature request related to a problem? Please describe.**
At the moment there is no option to keep files for certain days, which is a must for CCTV software imo.

**Describe the solution you'd like**
Make an option "retain files for x days"

**Describe alternatives you've considered**
-

**Additional context**
Add any other context or screenshots about the feature request here.

[2018-10-22 18:10] cedricve opened #138 "Mixing content: make protocol less."
Just attemptig to setup kerberos docker using traefik ( a proxy) and Kerberos falls down becasue of "mixed content" basically all the css and js is in the view with http://{mydomain}... it would make more sense for these all to be protocol less otherwise kerberos will never work properly behind a proxy (which is a standard use case for docker)

[2018-10-31 07:41] CoReYeDe commented on #138
+1 for this Issue..
I try to use 3 Kerberos-Instances as Docker-Container behind a HA-Proxy with HTTPS as forced Default..

[2018-10-31 11:25] fabiopbx commented on #138
FYI, mixed content can be fixed by adding `\URL::forceScheme('https');` as per #122

Tried and works fine, though it would be nice if there was some auto detection or so of protocol in use :) so we don't need to edit the file every time one updates the docker image....

[2018-11-06 11:37] lesar opened #139 "Question on examples"
**Is your feature request related to a problem? Please describe.**
I like to find some complex example but find only one pi+cam examples

**Describe the solution you'd like**
I need to see an example like using 10 outdoor cam, 10 pi, one workstation(pi) to see all cam.
How to connect hardware?
How can view on android.

Can point me to it?
best regards

[2018-11-06 16:00] lesar commented on #139
I have think to screw the pi to the wall behind  the outdoor cam connecting the pi to the cam by net cable and use wireless to put on lan all pi.

Open the port 80 on the pi over the lan so I can see all web kerberos.io from any workstation in the home.
Does this make sense?

best regards,
Leonardo

[2018-11-12 22:20] sobota opened #140 "Basic auth after login to dashboard"
**Describe the bug**
When auth in webstream (default port 8889) is enable then after normal login to dashboard basic auth for dashboard `Activity` preview.

**To Reproduce**
Steps to reproduce the behavior:
1. Set user and passord in  `stream.xml`
2. Login to kerberos dashboard
3. You will see basic auth popup

**Expected behavior**
Login only one to dashboard should be sufficient to normal use ke

[2018-11-13 15:58] #140 closed

[2018-11-16 15:54] lesar commented on #139
tank you,
regards, Leonardo

[2018-11-16 15:54] #139 closed

[2018-11-28 01:31] jruth85 opened #141 "Can't access stream from wan"
I installed kerberos.io and connected it to a camera and everything is working fine.  I can access the web gui and view the live stream from within my network. The problem arises when I try to access it from outside my network.  The live stream hangs on "almost there, hold on.."

Kerberos.io is installed on Raspbian. I'm trying to access the live stream from my phone (Android, Chrome browser). I h

[2018-12-20 19:58] wtatum opened #142 "Question: Communication between Web and Machinery"
Sorry if this is covered by the docs, I hunted and couldn't find it stated clearly anywhere. How is communication between an instance of the machinery and an instance of web accomplished? I don't see any configuration options related to securing this so I'm assuming it all local (file? named pipes?). Based on some of the docker volume configurations I've seen it sounds like this is the case, but I

[2018-12-27 22:44] Stubbs opened #143 "No Detections Listed in Web UI"
**Describe the bug**
Detections aren't listed in Web UI

**To Reproduce**
I have my local NAS mounted at `/mnt/nas` and in the config I have set that as the directory for image & video capture and I can see that there are images & videos being captured, I'm also getting notifications of movement via MQTT but I cannot see them listed in the usual place on the Kerberos web UI (down the left)

**Expe

[2018-12-28 15:40] mikaelhadler opened #144 "Make a CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
It's really difficult to get more information to contrituting, how can I contribute ?

**Describe the solution you'd like**
Just create a simple CONTRIBUTING.md includes this steps, for example, how i can help you with translate the web interface.

[2019-01-09 01:14] Sebastiaan76 commented on #138
+1 on this for me too. Trying to use behind reverse proxy ( nginx ). The above fix works, but there is quite a bit of mucking around edit that file within the container.

[2019-01-09 08:48] Sebastiaan76 commented on #138
Hi Cedric,
I just tested this and TL;DR is it works. Is this documented somewhere?

I tested as follows:

1. I removed the prior fix in www/web/routes/web.php ( per Github I had had
added the \URL::forceScheme('https'); entry to that file - which had fixed
the issue, but obviously not ideal and likely to break next time i pull the
image ).
2. re-started Kerberos container and confirm that without

[2019-02-08 16:10] mcgyver83 commented on #87
Hi, I'm having the same issue using docker with raspberry pi2

I created the container with
`sudo docker run --name kerberos_salotto -p 80:9020 -p 8889:9021 -d kerberos/kerberos`

And I see in the log
`08/02/2019 16:07:05.300 INFO  [trivial] Reading configuration file: /etc/opt/kerberosio/config/config.xml
08/02/2019 16:07:05.301 ERROR [trivial] TinyXML : could not open the xml file, maybe the fil

[2019-02-11 09:54] fabiopbx commented on #138
@cedricve PR submitted :)

https://github.com/kerberos-io/documentation/pull/15

[2019-02-12 11:13] ytzelf commented on #129
I have the same question on  the following line; what would be a simple way to test (on the demo website for instance). Non parameterized gets work like a charm but this is key to developping a good looking multicamera interface imho.

`Route::put('configure', array('uses' => 'SettingsController@changeProperties'));`

What would be the url ? The below works well
`https://demo.kerberos.io/api/v1/na

[2019-02-23 12:08] J-CMartin commented on #123
Same issue here. I was using docker for a while and changed to RPi3. On the first day the heatmap worked fine, after that it stopped working and nothing shows

[2019-03-01 17:28] jradxl opened #145 "Using the Web App from a Subdirectory on Nginx"
I have the Web App working fine (I think) in a generic installation in a subdirectory on Nginx except for the On/Off button and Update profile both on top right. The on/off button does nothing (ie no message) and the Update Profile just shows a centre screen rectangle with a permanent busy circle.
I'm not knowledgeable about Laravel applications and wondered if you'd say what might be different ab

[2019-03-27 06:35] hannut commented on #123
Same here. Docker with amd64

[2019-03-29 08:40] gintsmurans commented on #116
+1 for multicam support. I am currently using ubiquiti unifi video, which is more or less great, but recent news of possibly dropping support for diy install makes me take a look around. Haven't yet tested kerberos.io, but having separate dashboard for each cam sounds silly. Do I login to each web for each cam on a different ip/port, etc?

You should go with NodeJS + React.

[2019-04-03 10:02] andrestl opened #146 "Add a checkbox to mark important videos. Those would not be deleted when the user goes in configuration -> remove images"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-03 10:03] andrestl opened #147 "Modify the Web interface so it can run properly behind a reverse proxy such as NGINX"
I am proposing to work on it.

[2019-04-03 10:09] andrestl commented on #147
Please close! Same as 145

I can work on it

[2019-04-03 10:10] #147 closed

[2019-04-03 10:23] andrestl commented on #145
I do have the same problem. I would be willing to work on this problem.

I think the product needs a configurable field to set up the front host URL.

example: https://has.mysite.com/frontdoor -> NIGINX -> http://10.0.0.1:8890/<kerberos_io/

Currently, the system builds the pages from 10.0.0.1:8890/<kerberos_io> point of view. This breaks all the link back to the site.

Using proper relative path

[2019-05-11 23:35] NeverOddOrEven opened #148 "Alternative license?"
First, I want to say that I really like this project. It is minimalist, performant, and a great aesthetic. I have been using it for a couple months now, and it is very reliable. Thanks for making it.

I am wondering if you would be interested in a different license for this project. Under the current `CC-BY-ND` license, pull requests technically violate the terms of the license, as they are deriva

[2019-05-16 14:54] thoraxe commented on #131
I am having the same issue. Using the all-in-one container image.
Web	2.5.1
Machinery	2.6.2

[2019-05-16 14:56] thoraxe commented on #131
In FireFox I get the following error:

[code]

In Chrome, it's slightly different:

[code]

[2019-06-06 21:09] divis1969 opened #149 "MJPEG steam is not displayed on dashboard with https"
HI,
I've tried to set up kerberos-io web on the Apache.
This setup does not use docker.
Apache config is attached (stripped sensitive info, this file is a modified original Apache default-ssl.conf).
Kerberos-io is accessible via https://<server>/kerberos url.

Most of web works good but an "Activity" (stream) and "Overview" on Dashboard.
(note: this configuration could be improved maybe, I'm not a

[2019-07-14 11:07] cedricve opened #151 "Web (3.0) move to React"
We are currently working on a new major version of Kerberos.io. This will contain a full rewrite of the machinery using the Golang programming language, and full rewrite of the web application. Features that will be included:

- The web will only contain the Front-End of the application. As the API will be moved towards the machinery 3.0.
- Faster and more light-weight Front-End using React.
- Abi

[2019-08-19 08:08] athuljayaram opened #152 "Password stored in clear text in Web API"
Hi,
 I am Athul Jayaram a security researcher from India.

I have observed that the password of the admin user is stored in cleartext without encryption accessible from the browser.

It is recommended to encrypt and prevent the password from public acess.

Please provide me the email id to share the poc and other technical details

[2019-09-23 13:04] dschuetz opened #153 "API system/os call returning error, system page blocked in spinner"
I moved my setup from one intel NUC to another, and now the system page (System and Kerberos.io blocks) won't display.

I'm using the kerberos-io docker image, and everything else seems to be working fine. If I dig into the web page, I see it's pulling data from:

* /api/v1/system/os

and when I try to fetch that directly, I get the following error:

It's looking like (perhaps?) the string of unic

[2019-09-23 13:37] dschuetz commented on #153
Okay, I think I found the problem, and it's way out of your control. :(

The DMI data being returned on the system is messed up. Specifically:

So my immediate problem is figuring out how to change the DMI / SMBIOS data, which may involve booting off some windows USB stick and doing..god only knows what.

The next step is for me to report this as a bug to the maintainer of Linfo.

Anyway, thanks f

[2019-09-23 13:37] #153 closed

[2020-01-01 23:57] gusarg81 opened #155 "Generic install seems to not work nginx (ubuntu 18.04)"
Hi, I've followed the guide from http://www.kerberos.io/opensource/installation#generic but I get files listing from nginx (php fpm is installed and working/tested).

My settings in nginx:

{
    listen 8088 default_server;
    root /var/www/virtual/kerberos/public;
    server_name kerberos.ddns.gdnet.ar
    index index.php;
    location /
    {
        autoindex on;
        try_files $uri $uri/ /

[2020-01-02 06:19] cedricve commented on #155
Can you confirm this is where the web is located?

/var/www/virtual/kerberos/public

Can you confirm that is a valid name of your Php socket?

Kind regards,
Verstraeten Cédric

[2020-01-02 11:46] gusarg81 commented on #155
Yes, both.

[2020-01-02 20:48] cedricve commented on #155
Might be a configuration error, can you give some more debug info?

[2020-02-12 23:10] KarlBaumann opened #156 "Is Kerberos-IO an SD Card killer? Feature request for read-only filesystem"
**Is your feature request related to a problem? Please describe.**
A regular SD card supports approx. 100,000 write cycles. Depending on the usage, SD card will die from few weeks to few months.

**Describe the solution you'd like**
Tutorial should guide users through setting up web and machinery on a read-only filesystem.
That means:
1. it should be described how to create ram-drives,
2. Laravel

[2020-03-12 12:38] suicidesky92 opened #157 "motion off"
is it possible to disable motion detection completely and to record everything? The problem is that one rtsp stream takes over one CPU core.

[2020-04-12 13:58] cwjackso opened #158 "Https proxy not working"
When using docker and a https proxy such as traefik the laravel framework outputs all usages of

`{URL:to("\")`

With the wrong scheme - this used to work on old version by adding the env variable

`KERBEROSIO_SECURE_SSL=true`

This no longer is the case.

[2020-04-12 18:41] cedricve commented on #158
We made some changes to the docker file, will have a look @cwjackso

[2020-04-12 22:31] cwjackso commented on #158
Switched to the `:amd-64` tag in docker and that works ok. Uses a different base image and is about 3x the size though! @cedricve

[2020-04-13 05:44] cedricve commented on #158
We fixed it last night can you give a try?

Kind regards,
Verstraeten Cédric

[2020-04-18 11:43] cwjackso commented on #158
Yep - that seems to be working now Thank you. What is the difference between the 2 images by the way, is smaller one more efficient now?

[2020-04-18 12:07] cedricve commented on #158
yes, you can check the github repo to see what is happening in the dockerfile. We are using a multi stage dockerfile, so we only include the dependencies needed to tun kerberos open source.

Kind regards,
Verstraeten Cédric

[2020-04-18 18:30] #158 closed

[2020-04-18 18:41] cwjackso opened #159 "Write permission issue in docker when saving config"
**Describe the bug**
When saving config through the web UI I get a permission error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to web ui
2. Click on settings
3. Click on update
4. See following error

![Screenshot_20200418-193740](https://user-images.githubusercontent.com/12407694/79662062-61007780-81ac-11ea-92ca-e04fd759df2e.png)

**Expected behavior**
Config is saved

[2020-04-18 18:48] cedricve commented on #159
Interesting will check out myself. Probably because it’s copying the config directory, without setting the appropriate permissions.

[2020-04-18 18:53] cwjackso commented on #159
Haven't fully investigated yet but maybe linked - web hooks have stopped
working on motion detection. Recording is still happening just not the hook.

This is since changing to the latest base image (rather then amd-64)

On Sat, 18 Apr 2020, 19:48 Cédric Verstraeten, <notifications@github.com>
wrote:

[2020-04-18 19:17] cedricve commented on #159
thanks for reporting, I will have a look.

[2020-04-18 19:30] cedricve commented on #159
@cwjackso can you share the docker command you are running?

[2020-04-18 19:32] cedricve commented on #159
additionally can you show the permissions of the folder you are mounting?

[2020-04-18 20:00] cedricve commented on #159
hmm, make sure your permissions are set correctly. I was able to simulate the error if I set file permissions to 755.

Please set them to 777 to make it work.

<img width="884" alt="Screenshot 2020-04-18 at 21 59 36" src="https://user-images.githubusercontent.com/1546779/79670008-096c0700-81c0-11ea-8588-bb21544da6c6.png">

[2020-04-21 21:41] rvbaast opened #160 "Web is not starting up after upgrading to latest docker image"
Hi,

I recently updated my docker image to the latest version. ( Did a fresh install, so no old config files were present, totally recreated the container ). And since then the Kerberos web interface isn't reachable for me.

The logs don't really give me much info about what is going on. :

Config files are missing, copying from template.,
2020-04-21 20:47:18,649 INFO Set uid to user 0 succeeded,

[2020-04-22 07:12] cedricve commented on #160
Hey can you give some more information? Which machine / architecture, which docker image?

[2020-04-22 07:17] rvbaast commented on #160
I'm running this on my Western Digital PR2100 NAS which has a x86 cpu architecture.
I am using this docker image : https://hub.docker.com/r/kerberos/kerberos

I created the container like this :

docker create --name=k_garagecam -v /mnt/HD/HD_a2/Apps/Kerberos/Garagecam/capture:/etc/opt/kerberosio/capture -v /mnt/HD/HD_a2/Apps/Kerberos/Garagecam/cameraconfig:/etc/opt/kerberosio/config -v /mnt/HD/HD

[2020-04-22 07:22] cedricve commented on #160
just tested again, can you try and do a pull again?

    docker pull kerberos/kerberos

[2020-04-22 07:25] rvbaast commented on #160
It seems I already got the latest image:

![image](https://user-images.githubusercontent.com/14869671/79952797-4283d000-847b-11ea-853a-8fe6270af221.png)

[2020-04-22 07:27] cedricve commented on #160
That is not latest  image, can you remove the image and pull again?

[2020-04-22 08:04] rvbaast commented on #160
Ok, Done, however same sha256 :

![image](https://user-images.githubusercontent.com/14869671/79956114-fbe4a480-847f-11ea-8569-ca59073e71f9.png)
And same issue after starting the container.

Shouldn't I see a nginx config file appear in the container here :
/var/www/web/config

That directory stays empty after starting the docker container for the 1st time.

[2020-04-22 08:06] cedricve commented on #160
Hmm, indeed just noticed it myself there is a bug. Will need to fix to copy the files in there. Can you try without mounting the webconfig?

[2020-04-22 08:16] rvbaast commented on #160
Without mounting the webconfig it appears to work indeed. Thanks for you assistance. Let me know if you want me to help test a new version.

[2020-04-22 08:18] cedricve commented on #160
Yes, creating a new build right now.

[2020-04-22 08:23] cedricve commented on #160
@rvbaast can docker pull again, and give it another try this time with the webconfig.

[2020-04-22 08:44] rvbaast commented on #160
Done, and it is working a expected! Thanks for the quick responses and the awesome piece of software!

[2020-04-22 08:44] #160 closed

[2020-04-23 08:50] cwjackso commented on #159
I have updated to the latest version and this didn't change anything.

Setting 777 permission on the config directory (mounted as a volume via docker compose) has fixed the issue.

Not sure why specifically the config volume needs this though as the logs and capture files all write fine without it, and with the old docker image I never needed had that level of permission.

[2020-04-23 08:57] cwjackso opened #161 "Webhook no longer working"
**Describe the bug**
I am no longer seeing webhooks on camera motion. Video recording is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. setup a webhook
3. trigger some motion
4. observe that a recording is made
5. no webhook received

**Expected behavior**
A webhook is received, or at least a useful error to say why it is failing

This is using the latest doc

[2020-04-23 08:58] cedricve commented on #161
Can you share your Docker compose file?

[2020-04-23 09:05] cwjackso commented on #161
`version: "3"
services:
  Kerberos:
    restart: always
    container_name: kerberos
    networks:
      - traefik_proxy
    volumes:
     - ~/xxxxxx/kerberos-config:/etc/opt/kerberosio/config
     - ~/xxxxxx/kerberos-capture:/etc/opt/kerberosio/capture
     - ~/xxxxxx/kerberos_garden/kerberos-logs:/etc/opt/kerberosio/logs
    environment:
     - KERBEROSIO_SECURE_SSL=true
     - APP_URL=https://x

[2020-04-23 09:06] cedricve commented on #161
thanks, can you also validate with http?

[2020-04-23 09:06] cwjackso commented on #161
Validate if the webhook works over http?

[2020-04-23 09:09] cedricve commented on #161
exactly

[2020-04-23 09:43] cwjackso commented on #161
See what I can do, need to just play with my traefik config...

[2020-04-23 10:36] cedricve commented on #161
thanks ;)

[2020-04-23 10:41] cwjackso commented on #161
No HTTP didn't make a difference, still nothing

Also having an issue if I try to use MQTT instead, whenever I configure MQTT the camera stream entirely stops working. (using https://www.cloudmqtt.com/)

[2020-04-23 10:42] cedricve commented on #161
Interesting can you share the logs, will try to reproduce myself.

[2020-04-23 10:53] cwjackso commented on #161
in the log.stash the only relevant part seems to be

[code]

[2020-04-23 10:54] cedricve commented on #161
ok will have a look ;)

[2020-04-23 11:02] cwjackso commented on #161
Doesn't seem to be anything related to the MQTT issue, once configured the logs never get past
[code]

Before looping back to...

[code]

[2020-04-23 11:09] cedricve commented on #161
having a look as well.

[2020-04-23 12:04] cedricve commented on #161
just checked Webhook, indeed it is not longer working anymore. Trying to update the dependency and rebuilding the docker image

[2020-04-23 12:15] cedricve commented on #161
MQTT works fine on my side so not sure. Can you check once more?
I confirm the bug with the HTTP requests. Working on it.

[2020-04-23 13:03] cwjackso commented on #161
Does MQTT work when entering a domain name? looking at the docs an IP address is used and the type is "number". I need to use a qualified domain

`<server type="number">127.0.0.1</server>`

[2020-04-24 08:00] cwjackso commented on #161
C++ isn;t my thing at all but I think changing line 10
[code]
to  this
[code]

and the XML type changing to `text`

Is all that is needed, pretty sure that would be a breaking change for everyones config though unfortunately.

[2020-04-24 18:14] cedricve commented on #161
@cwjackso can you pull again kerberos/kerberos, we rebuilded the image. The webhook should be fixed. let us know.

[2020-04-24 19:23] cwjackso commented on #161
Yes - web hook working 👍

[2020-09-27 00:44] uthd-dev commented on #116
This issue is the top voted & has been open for almost 3 years?! Any progress? Functionality (in my opinion at least) could be nearly identical to the cloud solution but self-hosted. I have the ability to host the dashboard on a pretty beefy dedicated local server so that shouldn't be the issue. Is the cloud source code open? Could I try adapting my own version?

[2020-09-27 07:16] cedricve commented on #116
It is available on a kerberos enterprise, and are about to release this software as open source as well. More info coming in the next few weeks.

[2020-09-27 19:24] ytzelf commented on #116
@cedricve do you mean this feature is making it's way into the non-enterprise version?
Thks a lot

[2020-09-27 19:36] cedricve commented on #116
No the different services Kerberos Open Source and Kerberos Enterprise will remain. Both options will be available free of charge. Users will be able to install both versions open source / enterprise, without a license key (which currently is the case for enterprise).

What will be new:
   1. Kerberos Storage: this will allow Kerberos Enterprise users to bring their own cloud. This service will be

[2020-09-27 20:08] ytzelf commented on #116
That's quite clear but I'm not sure if the feature discussed here (multicamera) will be available on the "new web interface" you speak of :)

[2020-09-27 20:11] cedricve commented on #116
@ytzelf yes it is.  https://doc.kerberos.io/enterprise/get-started

What will be added on top of this is a (limited) web layer, which makes it possible to review recordings from all your cameras. For extensive visualisations of course our Kerberos Cloud is the way to go..

[2020-10-11 19:12] uthd-dev commented on #116
From my understanding of the docs & the purpose of this thread, I still don't believe that this new approach has really solved the issue yet. It seems to me that this thread is looking more for a way to see multiple camera streams, in real time, on a single dashboard page that is hosted on a (single / multiple for ha) web server. I understand that this is a feature that you would probably like to

[2020-10-11 19:21] cedricve commented on #116
@uthd-dev, correct at the time of writing the multi camera feed is, still, missing in the open source solution. We have started working out the Kerberos Enterprise version for this (which is free or charge). At the moment you can scale your deployments (kerberos agent containers) inside a Kubernetes Cluster. Kerberos Enterprise has currently no UI for watching recordings but we'll add a solution f

[2020-10-11 20:06] uthd-dev commented on #116
Awesome, all that sounds great! I can live without the live viewing of cameras baked into enterprise as I can figure out / write my own way to view all the cameras locally. However, the UI component for viewing past recordings will be much appreciated.

Is Kerberos Cloud available similar to Kerberos Enterprise to host on-premises? Because I could just run both in parallel rather than needing more

[2020-10-13 03:05] AmandaMQ opened #162 "File required missing in autoloader.php"
Followed instructions to the letter with the exception of the mcrypt extension which I had to find a workaround since it didn't seem available from apt. Now after everything I'm getting an error with the `../bootstrap/autoloader.php`, line 17 which is a `require` for `/../vendor/autoload.php` but the directory "vendor" doesn't exist. Can anyone help me sort this out? OS is Ubuntu 20.04 on Raspberr

[2020-10-15 22:39] drthanwho opened #163 "Telegram Channel for Kerberos Cloud"
**Describe the bug**
Firstly apologies if this is the wrong place, but you don't have a repository specifically for Kerberos Cloud as far as I could tell.
I have been trying to set up the Telegram Channel but I can't get it to work. I have made the bot and created a channel where I have added the bot as admin but clicking on "test" doesn't give me a notification. I tried with "privacy off" for the

[2020-11-19 14:15] jackstuard commented on #163
Same for me. Just tried.

[2020-11-27 21:57] APayerl opened #164 "Separate motion detection and privacy mask"
**Is your feature request related to a problem? Please describe.**
It's a shame that motion detection and privacy mask is combined(inverted).

**Describe the solution you'd like**
I'd like the ability to mask one part of a camera feed (section A) and detect movement on a separate part (section B) but then still be able to see section C which should not be masked but still not interesting to captur

[2020-12-05 15:25] Damix48 commented on #116
Any news on Cloud free version?

[2020-12-07 14:07] TimelessNL commented on #155
I've also followed the [advanced generic install method](https://doc.kerberos.io/opensource/installation-advanced#generic) with _Ubuntu Server 18.04_.
But this does not result in a working web interface:
![afbeelding](https://user-images.githubusercontent.com/10838968/101359833-18addb00-389d-11eb-96e0-76fbed9c5cf3.png)
I noticed that case is not correct, the error mentions `App\Traits\GerVersions`

[2020-12-27 19:10] cedricve commented on #151
This is real. Activity is logged here, announcement will come at the first of January: https://github.com/kerberos-io/opensource.

[2020-12-27 19:10] #151 closed

[2021-01-09 19:00] regularjeremy commented on #155
For any others that may have had the same issue, try fixing the following. This worked for me:

/var/www/web/app/Http/Controllers/BaseController.php
--> nano/vim this file and change 'Traits' in line 8 to 'traits' (lowercase)

/var/www/web/app/Http/Repositories/Filesystem/DiskFileSystem.php
--> change file name from 'DiskFileSystem.php' to DiskFilesystem.php' (lowercase s)

/var/www/web/app/Http/R

[2021-01-25 16:41] antoweb commented on #87
In docker environment i receive error TinyXML : could not open the xml file, maybe the file doesn't exist? But the file exist and have 777 permission

[2021-03-14 22:56] offcorse opened #168 "Can't access web interface"
I have a PI 3 B with the latest Raspian and Kerberos 2.8.0.  I have a wifi access point setup to connect to the PI via SSH.  I can connect to the network ssid and the unit through Putty, but I get a fatal error when trying to access the web interface.  Here's the error.  The config.xml file looks fine.

(1/1) FatalThrowableErrorClass 'SimpleXMLElement' not found
--
in ConfigXMLReader.php line 21
a

[2021-03-24 12:54] skvl opened #169 "Script invokation on motion detection not working (working very rare)"
**Describe the bug**
I rare see script invocation (telegram bot) on camera motion. Video recording is working fine.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to settings
2. setup a script
3. trigger some motion
4. observe that a recording is made
5. not every event runs script

**Expected behavior**
Script is invoked (telegram bot sends message), or at least a useful error to say w

[2021-04-04 06:31] fungijr commented on #163
I was attempting this earlier to no avail as well.

[2021-04-04 06:35] cedricve commented on #163
looking into it. thanks for reporting. Telegram apis are changing too often.

[2021-04-05 14:50] fungijr commented on #163
Awesome!

I suppose while you're looking into it I'll also report I can't get notifications via alerts from any channel besides Browser (I tried email and pushover). The test notifications work but actual notifications do not.

[2021-04-29 12:56] olokos opened #170 "Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0"
**Describe the bug**
The bug prevents loading of live camera updates on the heatmap view.
Heatmap is not overlaid on top of the live feed
Only single image is displayed without updates

**To Reproduce**
Steps to reproduce the behavior:
1. Login to the panel
3. Press on configuration
4. See error

**Expected behavior**
Live updates should be made on the heatmap and heatmap should be configurable.
*

[2021-07-07 10:39] mikcsek commented on #141
In my case port forward was the solution with port 8889. Destination IP is the machine with Kerberosio.

[2021-09-16 20:07] pemguin005 commented on #137
THIS!

I was just looking into building my own little script on the server-side to manage this task of clearing the footage every 2 weeks or so. But seeing your feature request, I 100% agree. This feature would be invaluable.

I use Kerberos as a docker within a much larger file server. it's capture folder Is mounted to a server filesystem with terabytes of space. I don't want Kerberos filling tha

[2021-09-16 20:08] cedricve commented on #137
Yes will be integrated in v3.0, thanks guys!